<div id='focusDiv' tabindex="1"></div>
<body style="background-color:#d3d3d34a !important;">
  <br>
    <br>
    <br>
    <br>
<div class="container-fluid">
    <div *ngIf="role == 'seller' && roleStatus == 'Active'">
            <h5 class="container styl">Subscription Plans</h5>
  <br>
<div class="container">
  <div class="row" *ngIf="successMsg || errMsg">
       <div class="col-md-4"></div>
       <div class="col-md-4">
         <div class="alert alert-success text-center" *ngIf="successMsg">
           {{successMsg}}
         </div>
         <div class="alert alert-danger text-center" *ngIf="errMsg">
           {{errMsg}}
         </div>
       </div>
       <div class="col-md-4"></div>
     </div>
    <div class="row">
        <div class="col-md-3 col-sm-5 btn-5" *ngFor="let dispute of subscriptionArr">
            <div style="display:none" [ngClass]="{'zoom': crntSUbscription == dispute.subscription}">Current plan</div>
            <div class="pricingTable" [ngClass]="{'zoom': crntSUbscription == dispute.subscription}">
                <div class="pricingTable-header">
                    <p class="title">{{ dispute.subscription }}</p>
                    <div class="price-value">
                        <div class="value">
                            <span class="amount"><i class="fas fa-rupee-sign"></i> {{ dispute.amount }}</span>
                        </div>
                    </div>
                </div>
                <ul class="pricing-content">
                    <li><b><i style="color: #0d4608;" class="far fa-hand-point-right"></i> {{ dispute.credit }}</b> Credit Points</li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> Lifetime Validity</li>
                </ul>
                <div class="col-md-12">
                        <div class="text-center">
                         <button  class="btn btn-outline-success btn-sm text-center viewMoreBtn mx-auto"  [ngStyle]="{'display':dispute.planType == 'Paid plan' ? 'block' : 'none' }"  type="submit" (click)="getSingleSubsc(dispute._id)" style="font-family: 'Oxygen', sans-serif;">Buy Now</button>
                         <p class="ticketRow" [ngStyle]="{'display':dispute.planType == 'Free plan' ? 'block' : 'none' }" style="color: #0d4608;font-weight: bold;margin-bottom: 7px;font-family: 'Oxygen', sans-serif;font-size: 16px;">FREE</p>
                          </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="mt-5 pt-5" *ngIf="role == 'buyer' && roleStatus == 'Active'">
        <div style="margin-bottom: 6%">
            <div class="col-md-3 col-lg-4 col-12"></div>
            <div class="col-md-6 col-lg-4 col-12 errDesign">
                <img src="../../assets/Images/empty_cart_retina.png" class="imgRes" alt="cart">
                <p class="mt-4">You have to be a "<font style="color: #f53636;font-style: italic">seller</font>" to see <span style="font-style: italic">Order Requests</span>.</p>
                <a routerLink="/buyerAsSeller" style="cursor: pointer;text-decoration: underline;color: #0d4608;">SignUp as seller</a>
            </div>
            <div class="col-md-3 col-lg-4 col-12"></div>
        </div>
    </div>

    <div class="mt-5" *ngIf="role == 'buyer' && roleStatus == 'Deactive'">
      <div style="margin-bottom: 6%">
          <div class="col-md-3 col-lg-4 col-12"></div>
          <div class="col-md-6 col-lg-4 col-12 errDesign">
              <img src="../../assets/Images/empty_cart_retina.png" class="imgRes" alt="cart">
              <p class="mt-4">Your seller request is on processing.Please wait until you get confirmation message.</p>
              <a (click)="goToBack()" style="cursor: pointer;text-decoration: underline;color: #0d4608;">Go to back</a>
          </div>
          <div class="col-md-3 col-lg-4 col-12"></div>
      </div>
  </div>


<br><br>
</body>
