<div id='focusDiv' tabindex="1"></div>
<div class="container-fluid bg1">
  <div class="pt-5">
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-12">
        <h4 class="text-center mt-4">Your Credits</h4>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <h5>Hai {{ credits.firstname }},</h5>
          </div>
          <div class="col-md-5">
            <strong class="float-right">Total credits : {{ credits.credits}}</strong>
          </div>
          <div class="col-md-1"></div>
        </div>

        <!-- <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <span>Your current plan - {{ credits.subscriptionName }}</span>
          </div>
          <div class="col-md-1"></div>
        </div> -->

        <div class="row mt-5" *ngIf="errMsg">
              <div class="col-md-3 col-lg-4 col-12"></div>
              <div class="col-md-6 col-lg-4 col-12 errDesign">
                  <img src="../../assets/Images/empty_cart_retina.png" class="imgRes" alt="cart">
                  <p class="mt-4" style="font-style: italic;">{{errMsg}}</p>
                  <button class="btn btn-success btn-sm" routerLink="/post">Post Products</button>
              </div>
              <div class="col-md-3 col-lg-4 col-12"></div>
        </div>

        <!-- <p class="updateProfile">Used Credits</p> -->
        <div class="row mt-4">
          <div class="col-md-1"></div>
          <div class="col-md-10">
              <div class="card mb-3" *ngFor="let credit of creditsArr | paginate: {id: 'foo', itemsPerPage:10,currentPage:p},let i = index">
                  <div class="card-header cardShadow shadow-sm bg-white rounded text-left">
                    <div><strong class="tamil_word">{{ credit.category }}</strong></div>
                    <small>Posted On : {{ credit.productCreatedAt | date }}</small>
                    <div class="float-right">
                        <strong style="color: #ef6806d9"
                        >Credits Used : {{ credit.credit}}</strong
                      >
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2 mobRes">
                          <img height="100px"  width="100px" src="{{credit.image}}" alt="" class="img-fluid z-depth-0">
                      </div>
                      <div class="col-md-3">
                          <h6 class="clr english_wrd" style="font-weight: bold">Product Name</h6>
                          <p class="text-muted">{{ credit.productName }}</p>
                      </div>
                      <div class="col-md-3">
                          <h6 class="clr english_wrd" style="font-weight: bold">Quantity</h6>
                          <p class="text-muted">{{credit.quantity}} / {{credit.qnty}}</p>
                      </div>
                      <div class="col-md-4">
                          <h6 class="clr english_wrd" style="font-weight: bold">Price</h6>
                          <p class="text-muted">{{ credit.price }}</p>
                      </div>
                    </div>
                    <p class="creditPara"><i class="fa fa-check-square-o" aria-hidden="true"></i> You have used <span style="color: #ef6806d9;font-weight: 700">{{ credit.credit }} credits</span> to post this product.</p>
                  </div>
                </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="mx-auto mt-3" *ngIf="!errMsg">
          <pagination-controls id="foo"  style="margin-right: 30px;" maxSize="5" class="ngx-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
      <!-- <div class="col-md-1"></div> -->
    </div>
  </div>
</div>
