
<body class="bg" style="overflow-x: hidden;">

    <div class="container mt-5 pt-5" >
        <div class="register">
            <div class="container">
              <button class="btn btn-success mb-3 button_word" routerLink="/admin-user">BACK</button>
            </div>
          </div>
         
      <div class="container-fluid ">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
     <div class="col-lg-1 post">
      <div>
        <table>
          <tr>
            <td> <h5 class="mt-3 english_wrd">POST</h5></td>
          </tr>
          <tr>
            <td> <h4 class="english_wrd">{{postLength}}</h4></td>
          </tr>
        </table>
      </div>
   </div>
   &nbsp;&nbsp;
 
    <div class="col-lg-5 post">
       <table class="english_wrd">
          <tr>
            <td><h5 class="mt-3 english_wrd">NAME</h5></td>
            <td>&nbsp;:&nbsp;</td>
            <td><h4 class="mt-3 english_wrd">{{register.firstName}}</h4></td>
          </tr>
          <!-- <tr>
            <td><h5  class="mt-3 english_wrd"> LAST NAME</h5></td>
            <td>&nbsp;:&nbsp;</td>
            <td> <h4 class="mt-3 english_wrd">{{register.lastName}}</h4></td>
          </tr> -->
          <!-- <tr>
            <td> <h5 class="mt-3 english_wrd">GENDER</h5></td>
            <td>&nbsp;:&nbsp;</td>
            <td> <h4 class="mt-3 english_wrd">{{register.gender}}</h4></td>
          </tr> -->
          <tr>
            <td><h5  class="mt-3 english_wrd">PHONE NUMBER</h5></td>
            <td>&nbsp;:&nbsp;</td>
            <td> <h4 class="mt-3 english_wrd">{{register.phone}}</h4></td>
          </tr>
        </table>
      </div>
      &nbsp;&nbsp;
      <div class="col-lg-5 post">
        <table class="english_wrd">
          <tr>
            <td> <h5 class="mt-3 english_wrd">ADDRESS</h5></td>
            <td>&nbsp;:&nbsp;</td>
              <td> <h4 class="mt-3 english_wrd">{{register.address.addressLine}}</h4></td>
            </tr>
            <!-- <tr>
              <td><h5  class="mt-3 english_wrd"> ADDRESS LINE 2</h5></td>
              <td>&nbsp;:&nbsp;</td>
              <td> <h4 class="mt-3 english_wrd">{{register.address.address1}}</h4></td>
            </tr> -->
              <tr>
              <td> <h5 class="mt-3 english_wrd">CITY</h5></td>
              <td>&nbsp;:&nbsp;</td>
              <td> <h4 class="mt-3 english_wrd">{{register.address.city.locality}}</h4></td>
            </tr>
            <tr>
              <td><h5  class="mt-3 english_wrd">STATE</h5></td>
              <td>&nbsp;:&nbsp;</td>
              <td> <h4 class="mt-3 english_wrd">{{register.address.city.admin_area_l1}}</h4></td>
            </tr>
        </table>
       </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <div *ngIf="errMsg">
        <span style="color: red;font-weight: bold;font-family: 'Headland One', serif;">{{errMsg}}</span>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  

  <div class="row">
    
      <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 "  *ngFor = "let product of postProduct | filterdata: queryString  : 'category' | paginate: { itemsPerPage:6,currentPage:p }">
        <div class="card">
          <h2 class="info mt-2 text-center english_wrd">Product Info</h2>
        <div class="card-body">
          <table>
            <div class="table english_wrd">
              <tr>
                <th class="product ">Category</th>
                <th>:</th>
                <th class="info1">{{product.category}}</th>
              </tr>
              <tr>
                <th class="product">Name</th>
                <th>:</th>
                <th class="info1">{{product.name}}</th>
              </tr>
              <tr>
                <th class="product">Quantity</th>
                <th>:</th>
                <th class="info1">{{product.quantity}} {{product.qnty}}
                </th>
              </tr>
              <tr>
                <th class="product">Price</th>
                <th>:</th>
                <th class="info1">Rs. {{product.price}}</th>
              </tr>
              <tr>
                <th class="product">Location</th>
                <th>:</th>
                <th class="info1">{{product.avlPlace.locality}}</th>
              </tr>
            </div>
            
              </table>
              <div class="mx-auto text-center">
                  <button class="mt-2 btn btn-primary btn2 button_word" data-toggle="modal" (click)="modalDes(product._id)"  data-target="#myModal" style="cursor: pointer;">View Description</button>
                </div>
     </div>
       </div>
       </div>

      
       </div>
       <div class="mx-auto">
        <pagination-controls class="ngx-pagination" (pageChange)="p=$event"></pagination-controls>
      </div>
       </div>
       
      
    </body>
      

    
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" style="font-family: 'Oxygen', sans-serif;">Detailed Description</h4>
                  <button type="button" class="close btn-danger" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p style="font-family: 'Nunito', sans-serif;">{{descrip}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger button_word" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>