<div class="container mt-5 pt-3 pt-md-5"> 
    <div class="card cardStyle">
    <div class="row">
    <aside class="col-sm-5">
    <article class="gallery-wrap"> 
    <div class="img-big-wrap">
    <div> 
      <!-- <img src="{{postProduct.image}}" style="cursor: pointer;" class="viewImage"> -->
      <ngx-slick-carousel class="carousel"
      #slickModal="slick-carousel"
              [config]="slideConfig"
              (init)="slickInit($event)">
          <div ngxSlickItem *ngFor="let slide of arrayImage" class="slide">
              <img src="{{ slide }}" alt="" class="viewImage">
          </div>
      </ngx-slick-carousel>
    </div>
    </div> <!-- slider-product.// -->
    <div class="img-small-wrap" *ngFor="let slide of arrayImage">
    <div class="item-gallery"> <img src="{{ slide }}"> </div>
    <!-- <div class="item-gallery"> <img src="{{ slide }}"> </div>
    <div class="item-gallery"> <img src="{{ slide }}"> </div>
    <div class="item-gallery"> <img src="{{ slide }}"> </div> -->
    </div>
     <!-- slider-nav.// -->
    </article> <!-- gallery-wrap .end// -->
    </aside>
    <aside class="col-sm-7">
    <h3>{{postProduct.name}}</h3>
    <p class="seller float-right">Seller: <span style="font-weight:100;">{{postProduct.firstName}}</span></p>
    <p style="color: #0d4608;"><i class="fa" style="color: #0d4608;">&#xf156;</i> {{postProduct.price}}.00 / {{postProduct.qnty}}</p>
      <table class="table table-borderless teble-responsive" style="text-align: justify;">
                              <tbody>
                                    <tr>
                                            <td><strong>Category</strong></td>
                                            <td>:</td>
                                            <td class="tamil_word">{{postProduct.category}}</td>
                                          </tr>
                                <tr>
                                  <td><strong>Expiry Date</strong></td>
                                  <td>:</td>
                                  <td>{{postProduct.validityTime}}</td>
                                </tr>
                                <tr>
                                  <td><strong>Quantity</strong></td>
                                  <td>:</td>
                                  <td>{{postProduct.quantity}} {{postProduct.qnty}}</td>
                                </tr>
                                <tr>
                                  <td><strong>Location</strong></td>
                                  <td>:</td>
                                  <td>{{postProduct.avlPlace}}</td>
                                </tr>
                              </tbody>
                      </table>

                      <section id="tabs">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <nav>
                                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <p class="product-description" style="text-align: justify">{{postProduct.description}}</p>
                                            </div>
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                <p class="product-description" style="text-align: justify">{{postProduct.description}}</p>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </section>
      
                      <div style="text-align:center;" *ngIf="!getToken" ><button (click)="checkBuyer()" type="button" class="btn btn-success mx-auto contactbtn" style="padding: 10px;"><p style="margin-top: -5px;
                        margin-bottom: -5px;">Contact Seller</p>
                    <!-- <p class="askbest">Ask for best deal</p> -->
                      </button>
                    </div>
                    
                    <div style="text-align:center;" *ngIf="getToken && !requestSent" >
                        <button type="button" (click)="createOrederModal()" class="btn btn-success mx-auto contactbtn" style="padding: 10px;"><p style="margin-top: -5px;
                        margin-bottom: -5px;">Create Order Request</p>
                        </button>
                    </div>
                    
                    <p *ngIf="requestSent" style="text-align:center;color:#0d4608;font-weight:bold;"><i class="fa fa-paper-plane" aria-hidden="true"></i> {{requestSent}}</p>                <!-- card-body.// -->
    </aside> <!-- col.// -->
    </div> <!-- row.// -->
    </div> <!-- card.// -->
    
    
    </div>
    <!--container.//-->
    <br>
