.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  position: relative;
  top: 0;
  margin-bottom: 5px;
  transition: all 0.25s;
}

.mainrowDiv {
  margin-top: 7%;
  margin-bottom: 2%;
}
.backClr {
  background-color: #c0881787;
}
.colPad {
  /* flex: 0 0 0% !important; */
  max-width: 95% !important;
}

.cardPad {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.viewMoreBtn {
  margin-top: 1% !important;
  margin: auto;
  font-weight: bold;
  color: white;
  border-color: #0d4608;
  background-color: #0d4608;
}
.viewMoreBtn:hover {
  background-color: #0d4608;
  color: white;
}
.pageHeadingone{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #0d4608;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif !important;
}
.pageHeading {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #0d4608;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif !important;
}
.pageHeadingDescription {
  margin-top: 1%;
  color: #0d4608;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Hind Madurai', sans-serif !important;
  font-weight: bold;
  float: left !important;
}
.viewImage {
  height: 376px;
  width: 368px;
}
tr {
  line-height: 5px;
}
.mobileIcon {
  color: #0d4608 !important;
  font-weight: bold;
}
.contactNumber {
  padding-top: 8px !important;
}
.prdtName {
  word-break: break-all;
  line-height: 15px;
  padding-top: 1%;
  font-family: 'Mukta', sans-serif !important;
  font-family: 'Hind Madurai', sans-serif !important;
}
.fontSize{
    font-family: 'Mukta', sans-serif !important;
    font-family: 'Hind Madurai', sans-serif !important;
    text-align: start !important;
}
@media screen and (max-width: 330px) {
  td {
    font-size: 12px;
  }
  .fontSize {
    font-size: 12px;
    font-family: 'Mukta', sans-serif;
    font-family: 'Hind Madurai', sans-serif;
    text-align: start !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .card {
    margin-top: 10%;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    margin-bottom: 5px;
    transition: all 0.25s;
  }
  .mainrowDiv {
    margin-top: 20%;
  }
  .card:nth-child(2) {
    margin: 0 0px !important;
  }
  strong {
    font-size: 14px !important;
  }
  .prdtName {
    word-break: break-all;
    line-height: 15px;
    padding-top: 3%;
    font-family: 'Mukta', sans-serif !important;
    font-family: 'Hind Madurai', sans-serif !important;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .margTop {
    margin-top: 3%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .viewImage {
    height: inherit;
    width: inherit;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .viewImage {
    max-width: 228px;
    max-height: 391px;
    height: 398px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .viewImage {
    /* height: inherit; */
    width: 310px;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .pageHeading {
   font-size: 12px
  }
  .pageHeadingDescription {
    font-size: 12px
   }
}