.card {
  margin-top: 5%;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  position: relative;
  top: 0;
  margin-bottom: 5px;
  transition: all 0.25s;
}

.mainrowDiv {
  margin-top: 7%;
  margin-bottom: 2%;
}
.backClr {
  background-color: #c0881787;
}
.colPad {
  /* flex: 0 0 0% !important; */
  max-width: 95% !important;
}

.cardPad {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.viewMoreBtn {
  margin-top: 1% !important;
  margin: auto;
  font-weight: bold;
  color: white;
  border-color: #0d4608;
  background-color: #0d4608;
}
.viewMoreBtn:hover {
  background-color: #0d4608;
  color: white;
}
.pageHeading {
  margin-top: 1%;
  color: #0d4608;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.pageHeadingDescription {
  margin-top: 1%;
  color: #0d4608;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 20px;
  float: left !important;
}
.viewImage {
  height: 360px;
  width: 368px;
}
tr {
  line-height: 5px;
}
.mobileIcon{
  color: #0d4608 !important;
  font-weight: bold;
}
.contactNumber{
    padding-top: 8px !important;
}
@media screen and (max-width: 330px) {
  td {
    font-size: 12px;
  }
  .fontSize {
    font-size: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .card {
    margin-top: 10%;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    margin-bottom: 5px;
    transition: all 0.25s;
  }
  .mainrowDiv {
    margin-top: 20%;
  }
  .card:nth-child(2) {
    margin: 0 0px !important;
  }
  .viewImage {
    height: 320px;
    width: 280px;
  }
  strong {
    font-size: 14px !important;
  }
  .prdtName{
    word-break: break-all;
    line-height: 15px;
    padding-top: 3%;
  }
}
