<body class="bg" style="overflow-x: hidden;">
    <div class="container mt-5">
      <h4 class="mt-5" style="color:#0d4608;text-align:center">Order Request</h4><br>
      <div class="alert alert-success text-center error_word mt-3"  *ngIf="successMsg">
          {{successMsg}}
      </div>
      <div class="table-responsive">
        <table class="table" id="cardFocus">
          <thead>
            <tr>
              <th style="width: 150px;">Request id</th>
              <th style="width: 150px;">Buyer name</th>
              <th style="width: 150px;">Buyer Phone</th>
              <th style="width: 150px;">Buyer address</th>
              <th style="width: 150px;">Product category</th>
              <th style="width: 150px;">Product name</th>
              <th style="width: 150px;">Product available place</th>
              <th style="width: 150px;">Product qty</th>
              <th style="width: 150px;">Product urgency</th>
              <th style="width: 150px;">Seller name</th>
              <th style="width: 150px;">Seller Phone</th>

            </tr>
          </thead>
          <tbody>
              <tr *ngIf="errorMsg">
                  <td colspan="7" class="text-danger" style="text-align: center">
                     {{errorMsg}}
                  </td>
              </tr>
            <tr *ngFor="let order of userOrderReq | paginate: {id: 'foo', itemsPerPage:10,currentPage:d},let i = index">
              <td style="min-width: 150px;">{{order.requestId}}</td>
              <td style="min-width: 150px;">{{order.buyerName}}</td>
              <td style="min-width: 150px;">{{order.buyerPhone}}</td>
              <td style="min-width: 150px;">{{order.buyerAddress}}</td>
              <td style="min-width: 150px;">{{order.prdctCategory}}</td>
              <td style="min-width: 150px;">{{order.prdctName}}</td>
              <td style="min-width: 150px;">{{order.prdctAvlplace}}</td>
              <td style="min-width: 150px;">{{order.prdctQty}}/{{order.prdctUnit}}</td>
              <td style="min-width: 150px;">{{order.urgency}}</td>
              <td style="min-width: 150px;">{{order.sellerName}}</td>
              <td style="min-width: 150px;">{{order.sellerPhone}}</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="mx-auto mt-3">
            <pagination-controls id="foo"  class="ngx-pagination" style="margin-right: 30px;" maxSize="5" (pageChange)="d = $event"></pagination-controls>
          </div>
    </div>
    </body>