<body style="height: -webkit-fill-available;">
    <div class="container mt-5">
      <h4 class="mt-5" style="color:#0d4608;text-align:center">Order Request</h4><br>
      <div class="alert alert-success text-center error_word mt-3"  *ngIf="successMsg">
          {{successMsg}}
      </div>
      <div class="table-responsive" id="cardFocus">
        <table class="table tamil_word">
            <thead>
                <tr>
                  <th scope="col" style="text-align:center">User order request</th>
                  <th scope="col" style="text-align:center">Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngIf="errorMsg">
                      <td colspan="2" class="text-danger" style="text-align: center;font-weight:bold">
                         {{errorMsg}}
                      </td>
                  </tr>
                  <tr *ngFor="let user of userCategory">
                    <td><span style="font-weight:bold;color:#0d4608">{{user.firstname}} ({{user.phone}})</span>, has requested to signup as a seller.Verify seller details and activate</td>
                    <td style="display: inline-flex;">
                      <button type="button" class="btn" style="background-color: #0d4608;color:white;padding: 5px 7px;" (click)="updateSignupReq(user._id)">Accept</button>&nbsp;&nbsp;
                      <button type="button" class="btn btn-danger" style="color:white;padding: 5px 7px;" (click)="updateSignupRejReq(user._id)">Reject</button>&nbsp;&nbsp;
                      <button type="button" class="btn btn-secondary" style="color:white;padding: 5px 7px;" (click)="singleUpdateSignupReq(user._id)" data-toggle="modal" data-target="#myModal" >
                        View
                      </button>
                    </td>
                  </tr>
                  </tbody>
        </table>
      </div>
    </div>
    </body>