.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100%;
  min-height: -webkit-fill-available;
  padding: 4px;
}

/* .mt-5 {
  margin-top: 6rem !important;
} */

::placeholder{
  font-size: 13px !important;
}

.tamil_word {
  font-family: 'Hind Madurai', sans-serif;
}

.viewMoreBtn {
  margin: auto;
  font-weight: bold;
  color: #0d4608;
  border-color: #0d4608;
  background-color: white !important;
}
.viewMoreBtn:hover {
  background-color: #0d4608;
  color: #0d4608;
}

.button_word {
  font-family: 'Kanit', sans-serif;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #0d4608 !important;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btnClr {
  border: 2px solid #0d4608;
  color: #0d4608;
  background-color: white;
  font-weight: bolder;
}

.btnClr:hover {
  background-color: #0d4608;
  color: white;
}

.btnDanger {
  border: 2px solid #dc3545;
  color: #dc3545;
  background-color: white;
  font-weight: bolder;
}

.btnDanger:hover {
  background-color: #dc3545;
  color: white;
}

#tabs h6.section-title {
  color: white;
  background-color: #0d4608;
}
section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/* .imgRes {
  width: inherit !important;
} */

.imgRes {
  width: 300px;
}

.errDesign {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  color: red;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #0d4608 !important;
  /* / / background-color: #0d4608; / / */
  font-size: 1rem;
  font-weight: 500;
}
.nav-tabs .nav-link {
  border: 1px solid #0d4608;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: white;
  font-weight: bold;
}
.nav-tabs {
  border-bottom: 2px solid white;
  width: fit-content;
}
.button_word {
  font-family: 'Kanit', sans-serif;
}
.english_wrd {
  font-family: 'Mukta', sans-serif;
  float: left;
  color: #0d4608;
  font-weight: bold;
}
.english_wrd1 {
  font-family: 'Mukta', sans-serif;
  color: #0d4608;
  font-weight: bold;
}
.tabTitle {
  font-size: 14px;
  color: #0d4608 !important;
}
.inner-addon {
  position: relative;
}

/* / / style glyph / / */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* / / align glyph / / */
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}

/* / / add padding  / / */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}
.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  position: relative;
  top: 0;
  text-align: center;
  margin-bottom: 5px;
  transition: all 0.25s;
  /* / margin-top: 7% !important; / */
}

.nav-tabs {
 

}

.orderPara {
  margin-top: -15px;
  text-align: center;
}
.orderHighlight {
  float: left;
  padding: 3px;
  font-weight: bold;
}
.button_word1 {
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  color: red !important;
  float: right;
  /* / / margin-top: 50%; / / */
}

@media screen and (min-width: 425px) {
  .mobiViewShow{
    display: none;
  }
  .addBr{
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .card {
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    margin-bottom: 5px;
    transition: all 0.25s;
    /* / margin-top: 25% !important; / */
  }
  .button_word1 {
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    color: red !important;
    float: right;
    margin-top: 0px;
  }
  .myOrderHeading {
    color: #0d4608;
    text-align: center;
    margin-top: 20%;
    font-size: 20px;
  }
  .orderHighlight {
    font-size: 11px;
  }
  .col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .imgRes {
    width: inherit !important;
  }
  .mobiViewHide{
    display: none;
  }
  .mobiViewShow{
    display: block;
    font-size: 15px;
  }
  .mainHeader{
    height: 70px !important;
  }
  .orderHighlight {
    float: left;
    padding: 3px;
    font-weight: bold;
    font-size: 15px !important;
  }
  .needPadding{
        padding: 2%;
        font-size: 14px;
  }
  .solBtn{
    font-size: 15px;
  }
  .addBr{
    display: block;
  }
}
.headingrow {
  background-color: #8080803d;
  padding: 5px;
}
.myOrderHeading {
  color: #0d4608;
  text-align: center;
}
.orderHead {
  margin-top: -15px;
}

.orderHead2 {
  margin-top: 0px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 3px;
}

.viewMoreBtn1 {
  margin: auto;
  font-weight: bold;
  color: white;
  border-color: #0d4608;
  background-color: #0d4608;
}

.viewMoreBtn1:hover {
  background-color: #0d4608;
  color: white;
}

@media screen and (max-width: 320px) {
  .orderHead2 {
    font-size: 13px;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

/* / / component / / */

.star-rating {
  /* / / border:solid 1px #ccc; / / */
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #0d4608;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.ticketId {
  float: left;
  color: #0d4608;
  font-weight: bold;
}
.ticketTitle {
  font-weight: 600 !important;
  color: #0d4608;
}
.ticketstate {
  float: right;
  color: #0d4608;
  font-weight: bold;
  background-color: white;
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  .ticketId {
    float: left;
    color: #0d4608;
    font-weight: bold;
    font-size: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .ticketId {
    font-size: 12px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .nav-link {
    font-size: 11px !important;
    padding: 14px !important;
  }
  .byWhom {
    float: left !important;
  }
  #paraTag {
    margin-left: 3% !important;
  }
  .ticketTit {
    text-align: center !important;
    color: #0d4608;
    font-weight: 600;
  }
  .ticketdate {
    color: #0d4608;
    font-size: 15px;
  }
  label{
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 200px) and (max-width: 320px) {
  .nav-link {
    font-size: 13px !important;
    padding: 4px !important;
  }
}
.notice {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}
.notice-sm {
  padding: 10px;
  font-size: 80%;
}
.notice-lg {
  padding: 35px;
  font-size: large;
}
.notice-success {
  border-color: #80d651;
}
.notice-success > strong {
  color: #80d651;
}
.notice-info {
  border-color: #45abcd;
}
.notice-info > strong {
  color: #45abcd;
}
.notice-warning {
  border-color: #feaf20;
}
.notice-warning > strong {
  color: #feaf20;
}
.notice-danger {
  border-color: #d73814;
}
.notice-danger > strong {
  color: #d73814;
}

.btnClr {
  border: 2px solid #0d4608;
  color: #0d4608;
  background-color: white;
  font-weight: bolder;
}

.btnClr:hover {
  background-color: #0d4608;
  color: white;
}
.byWhom {
  float: right;
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
  .ticketRow {
    font-weight: 500;
    font-size: x-small;
  }
  .ticketPara {
    font-size: smaller;
  }
}

#accordion .panel {
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #d5d5d5;
  margin-bottom: 6px;
}
#accordion .panel-heading {
  border-radius: 0px;
  background-color: #fff;
  padding: 0;
}
#accordion .panel-title a {
  display: block;
  color: #2ca093;
  font-size: 15px;
  padding: 14px 28px;
  font-weight: bold;
  position: relative;
}
#accordion .panel-title a.collapsed {
  border-top: 0;
}
#accordion .panel-title a:hover,
#accordion .panel-title a:focus {
  text-decoration: none;
  outline: none;
  border-top: 1px solid #0d4608;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
  /* / / content: "More..."; / / */
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  color: #2ca093;
  position: absolute;
  top: 40px;
  right: 12px;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after {
  content: '';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  color: #2ca093;
  position: absolute;
  top: 40px;
  right: 12px;
}

#accordion .panel-body {
  color: #8a8a8a;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
  padding: 5px 27px 15px;
  border-top: 0px none;
}
.ticketTit {
  text-align: start;
  color: #0d4608;
  /* / / color: #0d4608;font-weight: 600; / / */
}
.ticketdate {
  text-align: end !important;
  color: #0d4608;
  font-size: 15px;
}

.styl{
  /* / / margin-top: 25px; / / */
  color: #0d4608;
  font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,serif;
  font-weight: bold;
  text-align: left;
}