<body class="bg" style="overflow-x: hidden;">
  <div class="container card">
    <h4 class="myOrderHeading">My Tickets</h4><br>
    <section id="tabs" style="margin-top: -20px;">
          <div class="container">
              <div class="row">
                <div class="col-xs-12 ">
                      <nav>
                          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Create Ticket</a>
                              <a class="nav-item nav-link" id="nav-home-tab" (click)="getAlltickets()" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">My Tickets <span *ngIf="ticketlngth" class="badge">{{ticketlngth}}</span><span *ngIf="!ticketlngth" class="badge">0</span></a>
                              <a class="nav-item nav-link" id="nav-home2-tab" (click)="getdisputes()" data-toggle="tab" href="#nav-home2" role="tab" aria-controls="nav-home2" aria-selected="true">My Disputes <span *ngIf="disputelength" class="badge">{{disputelength}}</span><span *ngIf="!disputelength" class="badge">{{disputelength1}}</span></a>
                          </div>
                      </nav>
                    </div>
                </div>
          </div>
      </section>
      <div class="tab-content py-3" id="nav-tabContent">
          <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p style="float:left;cursor:pointer;font-weight: 600;margin-left: 2%;
    font-size: 13px;" id="paraTag1" (click)="changeColor1()" (click)="openTickets()">Open Tickets</p>  &nbsp;&nbsp;
            <p style="float:left;cursor:pointer;font-weight: 600;margin-left: 1%;font-size: 13px;" id="paraTag" (click)="changeColor()" (click)="closedTickets()">Closed Tickets</p>
            <div class="container">
                <div >
                  <div class="col-md-3 col-lg-4 col-12"></div>
                  <div class="col-md-6 col-lg-4 col-12 errDesign" *ngIf="noTicketsMsg && !noOpenTicketsMsg && !noClosedTicketsMsg">
                      <!-- <img src="../../assets/Images/empty_cart_retina.png"  class="imgRes" alt="cart"> -->
                      <p class="mt-4" style="font-style: italic;">{{noTicketsMsg}}</p>
                  </div>
                  <div class="col-md-3 col-lg-4 col-12"></div>
          </div>
          <div >
            <div class="col-md-3 col-lg-4 col-12"></div>
            <div class="col-md-6 col-lg-4 col-12 errDesign" *ngIf="noOpenTicketsMsg ">
                <!-- <img src="../../assets/Images/empty_cart_retina.png"  class="imgRes" alt="cart"> -->
                <p class="mt-4" style="font-style: italic;">{{noOpenTicketsMsg}}</p>
            </div>
            <div class="col-md-3 col-lg-4 col-12"></div>
    </div>
    <div >
      <div  >
      <div class="col-md-3 col-lg-4 col-12"></div>
      <div class="col-md-6 col-lg-4 col-12 errDesign" *ngIf="noClosedTicketsMsg ">
          <!-- <img src="../../assets/Images/empty_cart_retina.png" id="imgHide" class="imgRes" alt="cart"> -->
          <p class="mt-4" style="font-style: italic;">{{noClosedTicketsMsg}}</p>
      </div>
      <div class="col-md-3 col-lg-4 col-12"></div>
      </div>
</div>
              <div class="container-fluid" routerLink="/view-ticket/{{ticket._id}}" *ngFor="let ticket of userTickets | paginate: {id: 'foo', itemsPerPage:10,currentPage:p},let i = index">
                <div class="notice notice-success">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-8 col-8">
                          <p  style="color: #eb0f2491;font-weight: bold;">
                           <span class="ticketId">Ticket ID - <font color="#ef5409">{{ticket.ticketId}}</font></span>
                         </p>
                        </div>
                        <div class="col-md-4 col-4">
                          <div class="float-right">
                            <button class="btn btn-sm btn-success">
                            {{ticket.ticketStatus}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-6 col-8"> -->
                      <!-- <p  style="color: #eb0f2491;font-weight: bold;">
                       <span class="ticketId">Ticket ID - <font color="#ef5409">{{ticket.ticketId}}</font></span>
                     </p> -->
                     <div class="col-md-12">
                       <div class="row">
                         <div class="col-md-8">
                              <p style="float:left;color: #0d4608;font-weight: 600;">{{ticket.ticketTitle}}</p>
                         </div>
                         <div class="col-md-4">
                           <p style="float:right;color: #0d4608;font-size: 15px;">Created: {{ticket.createddate | date}}</p>
                         </div>
                       </div>

                     </div>
                   <!-- </div> -->
                    <!-- <div class="col-md-6 col-4">
                      <div class="float-right">
                        <button class="btn btn-sm btn-success">
                        {{ticket.ticketStatus}}
                        </button>
                      </div>
                    </div> -->
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-6">
                      <span>

                      </span>
                    </div>
                    <div class="col-md-6">

                    </div>
                  </div> -->
                </div>
                <br>
              </div>
              <div class="mx-auto mt-3" *ngIf="!noTicketsMsg">
                   <pagination-controls id="foo"  style="margin-right: 30px;" maxSize="5" class="ngx-pagination" (pageChange)="p = $event"></pagination-controls>
                 </div>
            </div>
          </div>
          <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3"></div>
                <div class="col-md-6">
                  <form  #ticketForm="ngForm" *ngIf ="!submitted" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                          <p *ngIf="successMsg" class="alert alert-success english_wrd1">
                              {{successMsg}}
                            </p>
                            <div class="form-group">
                                <label class=" english_wrd" for="firstname">Ticket Title</label>
                                <input type="text" placeholder="Enter ticket title" #ticketTitle="ngModel" [class.is-invalid]="ticketTitle.invalid && ticketTitle.touched" ngModel name="ticketTitle" class="form-control"
                                autocomplete="off" [(ngModel)]="ticketData.ticketTitle" required>
                                <span class="text-danger float-left error_word" [class.d-none] = "ticketTitle.valid || ticketTitle.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Ticket title is required</span>
                              </div>
                         </div>
                         <div class="col-md-12">
                            <div class="form-group  mb-5 mt-2">
                                  <label class="english_wrd" for="address">Ticket Description</label>
                                <textarea type="text" style="height:150px;" placeholder="Enter ticket description" #ticketDescription="ngModel"
                                [class.is-invalid]="ticketDescription.invalid && ticketDescription.touched" ngModel
                                name="ticketDescription" class="form-control"
                                 autocomplete="off"  [(ngModel)]="ticketData.ticketDescription" required></textarea>
                                <span class="text-danger float-left error_word" [class.d-none] = "ticketDescription.valid || ticketDescription.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Ticket description is required</span>
                              </div>
                         </div>
                         <div class="col-md-12 text-center">
                            <button class="btn btn-outline-success text-center viewMoreBtn  button_word"  type="submit" [disabled]="ticketForm.form.invalid" (click)="sendticket()">Submit</button>&nbsp;
                            <button type="reset" class="btn btn-outline-success text-center viewMoreBtn  button_word">Reset</button>
                         </div>
                    </div>
                    <br>
                  </form>
                </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
          </div>
          <div class="tab-pane fade " id="nav-home2" role="tabpanel" aria-labelledby="nav-home2-tab">
            <div class="container">
                <div *ngIf="noDisputesMsg">
                  <div class="col-md-3 col-lg-4 col-12"></div>
                  <div class="col-md-6 col-lg-4 col-12 errDesign">
                      <img src="../../assets/Images/empty_cart_retina.png" class="imgRes" alt="cart">
                      <p class="mt-4" style="font-style: italic;">{{noDisputesMsg}}</p>
                  </div>
                  <div class="col-md-3 col-lg-4 col-12"></div>
          </div>
              <div class="container" *ngFor="let dispute of getExactDisputes | paginate: {id: 'foo1', itemsPerPage:10,currentPage:p},let i = index">
                <div class="notice notice-success" style="border-color:#6b9a67 !important;">
                  <div class="row">
                    <div class="col-md-6 col-8">
                      <p style="color: #eb0f2491;font-weight: bold;float:left;" class="ticketPara">
                       <span style="color:#0d4608"> Ticket ID -</span>{{dispute.ticketId}}
                      </p>
                    </div>
                    <div class="col-md-6 col-4">
                      <div class="float-right">
                        <p class="ticketRow" style="color:#6b9a67;font-weight:bold">
                          {{dispute.disputeStatus}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <span>
                        <p style="float:left;">{{ dispute.dispute }}</p>
                      </span>
                    </div>
                    <div class="col-md-6">
                      <span class="float-right">
                        <div></div>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <span>
                        <small style="float:left;"
                          >Disputed against :
                          <span style="font-size: 15px;">{{
                            dispute.sellerName
                          }}</span>
                          <span style="font-size: 15px;">{{
                            dispute.buyerName
                          }}</span>
                          </small>
                      </span>
                    </div>
                    <div class="col-md-6">
                      <span class="byWhom">
                        <span
                          >By {{ dispute.disputerName }}
                          <small>on {{ dispute.createdAt | date }}</small></span
                        >
                      </span>
                    </div>
                  </div>
                  <div class="row" *ngIf = "dispute.solution">
                      <div class="col-md-12">
                    <span>
                      <small style="float:left"
                        >
                        <span style="color:#0d4608;font-weight: bold;">Solution by given admin :</span>&nbsp;
                        <span style="font-size: 13px;">{{
                          dispute.solution
                        }}</span>
                        </small>
                    </span>
                    </div>
                  </div>
                </div>
                <br>

              </div>
              <div class="mx-auto mt-3" *ngIf="!noDisputesMsg">
                   <pagination-controls id="foo1"  style="margin-right: 30px;" maxSize="5" class="ngx-pagination" (pageChange)="p = $event"></pagination-controls>
                 </div>
            </div>
          </div>
      </div>
    </div>
