
<div class="bg" style="overflow: hidden;">
    <div class="container mt-5 pt-5">
        <div class="row" >
            <div class="mb-3 pl-3" style="width: 50%;">
            <button class="btn btn-success" routerLink="/admin">BACK</button>
            </div>
           
            <div  class="mb-3 pr-3"  style="width: 50%;">
                <button type="button" class="btn btn-success" style="float: right;" data-toggle="modal" data-target="#myModal1" data-backdrop="static"
                data-keyboard="false" routerLink="/category">New Category</button>
            </div>
        </div>
        <div *ngIf="errMsg">
                <p style="text-align: center;font-weight: bold;color:red">{{errMsg}}</p>
            </div>
            

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <!-- <br> -->
  
                        <div class="fresh-table table-responsive">
                            <table id="postList" class=" table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead style="text-align: center">
                                    <tr>
                                        <th>Category</th>
                                    
                                        <th class="disabled-sorting">Action</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center">
                                    <tr *ngFor="let deal of categoryArr | paginate: { itemsPerPage:5,currentPage:p};">
                                        <td>{{deal.productCategory}}</td>
                                        <td>
                                            <button class="btn btn-simple btn-warning btn-icon edit" data-toggle="modal" data-target="#myModal2" data-backdrop="static"
                                                data-keyboard="false" routerLink="/category/{{deal._id}}">
                                                    <!-- <i class="ti-pencil-alt"></i> தொகுத்தல்--> Edit
                                            </button>&nbsp;&nbsp;
                                            <button class="btn btn-simple btn-danger btn-icon remove" data-toggle="modal" data-target="#myModal" data-backdrop="static"
                                             data-keyboard="false" routerLink="/category/{{deal._id}}">
                                                <!-- <i class="fa fa-rupee"></i> -->Delete
                                            </button>
                                        </td>
                                    </tr>
  
                                </tbody>
                            </table>
                            
                        </div>
                        
                    </div>
                    <!-- end content-->
  
                </div>
                
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        
        <div class="mx-auto page mt-2">
            <pagination-controls class="ngx-pagination" (pageChange)="p=$event"></pagination-controls>
          </div>
        <!-- end row -->
    </div>
  
  </div>
  
  
  
   <!-- modal -->
  
   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
        </div>
        <div class="modal-body">
          <h6 class="text-center">Are you sure want to delete?</h6>
          <div class="text-center">
         
           <button type="button" class="btn btn-primary" routerLink="/category" (click)="deleteuser()" data-dismiss="modal">Yes</button>&nbsp;&nbsp;&nbsp;
           <button type="button" class="btn btn-danger" routerLink="/category" data-dismiss="modal">No</button>
          </div>
        </div>
      
      </div>
      
    </div>
  </div>

   <!-- modal -->
  
   <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title clr">Edit a Category</h4>
              <button type="button" class="close clr" data-dismiss="modal" routerLink="category" 
              >&times;</button>
            </div>
            <div class="modal-body">
                <form #cateform="ngForm" *ngIf ="!submitted" novalidate>
       
                    <div class="form-group mb-3 mt-4">
                        <input type="text"  #productCategory="ngModel" [class.is-invalid]="productCategory.invalid && productCategory.touched" ngModel name="productCategory" class="form-control" [(ngModel)]="deallistobj.productCategory" autocomplete="off" required>
                        <label class="form-control-placeholder" for="productCategory">Category</label>
                        <span class="text-danger float-left" [class.d-none] = "productCategory.valid || productCategory.untouched">Category is required</span>  
                      </div>

                      <div class="text-center mb-2">
                        
                            <img height="150px" id="show" class="card-img-top" src="{{deallistobj.image}}" alt="Card image cap">
                            <img [src]="url" height="150px" class="card-img-top" id="hide" style="display: none">
                      </div>

                      <input type="file" value=""  #image="ngModel" name="image" (change)="onSelectFile($event)" [class.is-invalid]="image.invalid && image.touched" ngModel ng2FileSelect [uploader]="uploader" />
                      <!-- button to trigger the file upload when submitted -->
                      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        Upload Image
                    </button> 
                      <div class="row">
                            <div class="col-md-6">
                                    <button [disabled]="cateform.form.invalid " class="btn mt-3 mb-5 btn-block" type="submit" (click)="update()"  routerLink="category" data-dismiss="modal">Update</button>
                            </div>
                    
                    <div class="col-md-6">
                            <button  class="btn mt-3 mb-5 btn-block" type="submit"  (click)="onSubmit()">Reset</button>
                    </div>
                </div>
                  </form>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" routerLink="/category" data-dismiss="modal">Close</button>
                  </div>
          </div>
          
        </div>
      </div>
    

  
   <!-- add modal -->
  
   <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title clr">Add a Category</h4>
            <button type="button" class="close clr" routerLink="/category" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form #cateform="ngForm" *ngIf ="!submitted" novalidate>
     
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h6 *ngIf = "sucessMsg" class="alert alert-success text-center">{{this.sucessMsg}}</h6> 
                    </div>
                    <div class="col-md-3"></div>
                </div>

                  <div class="form-group mb-5 mt-4">
                      <input type="text"  #productCategory="ngModel" [class.is-invalid]="productCategory.invalid && productCategory.touched" ngModel name="productCategory" class="form-control" [(ngModel)]="cateData.productCategory" autocomplete="off" required>
                      <label class="form-control-placeholder" for="productCategory">Category</label>
                      <span class="text-danger float-left" [class.d-none] = "productCategory.valid || productCategory.untouched">Category is required</span>  
                    </div>

                    <div class="form-group mb-5 mt-4">
                    <input type="file"  #image="ngModel" name="image" [(ngModel)]="cateData.image" [class.is-invalid]="image.invalid && image.touched" ngModel ng2FileSelect [uploader]="uploader" />
                        
                        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            Upload Image
                        </button> 
                         <span class="text-danger float-left" [class.d-none] = "image.valid || image.untouched">Image is required</span>  

                    </div>
                    <!-- <img [src]="url" height="200"> <br/>
                        <input type='file' name="image" [(ngModel)]="cateData.image" (change)="onSelectFile($event)"> -->

                    <div class="row">
                        <div class="col-md-6">
                            <button [disabled]="cateform.form.invalid " class="btn mt-3 mb-5 btn-block" type="submit" (click)="addCategory()">Add Category</button>
                        </div>
                        <div class="col-md-6">
                            <button  class="btn mt-3 mb-5 btn-block" type="reset" routerLink="/admin">Reset</button>
                        </div>
                    </div>
                 
                </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger" routerLink="/category" data-dismiss="modal">Close</button>
              </div>
            
        
        </div>
        
      </div>
    </div>