<div id="focusDiv" tabindex="1"></div>
<div class="container pt-3">
  <div class="aboutus-section">
    <h4 class="whatWeDO"></h4>
    <p class="farmersFinger mt-3">விவசாயி விரலில்-விவசாய விளைபொருள் விலை !</p>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h6 class="text-center mt-2" style="color: #a2cb77;">
                <sup><i style="font-size: 9px;" class="fas fa-quote-left"></i></sup> Farmers earn fair prices for the
          fruits of their labor by selling directly to consumers. Consumers gain
          access to fresh, nutritious, local produce. <sup><i
            class="fas fa-quote-right" style="font-size: 9px;"
          ></i></sup>
        </h6>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row mt-5 zoom">
      <div class="col-md-6">
        <div class="card" style="padding: 12px;border: none">
          <h5 style="color: #ef6806d9">MISSION</h5>
          <p style="text-align: justify" class="pb-4">
            To inspire and nurture a healthy community by building a local,
            sustainable and organic food economy in a vibrant experiential
            marketplace.
          </p>
        </div>
      </div>
      <!-- <div class="col-md-2">
        <div class="vl"></div>
      </div> -->
      <div class="col-md-6 cardBorder">
        <div class="card" style="padding: 12px;border: none">
          <h5 style="color: #ef6806d9">VISION</h5>
          <p style="text-align: justify">
            To be a nationally recognized marketplace model that connects,
            educates and empowers a community to support a healthy, sustainable
            food system to contribute to the success of local food growers and
            producers.
          </p>
        </div>
      </div>
    </div>
    <!-- <div
      style="border-top: 1px solid green;margin-top: 25px;
    width: 175px;"
    ></div> -->
    <div class="mt-4">
      <h5 style="color: #ef6806d9;margin-left: 10px">WHY UZHAVARSANTHAI?</h5>
      <div class="row mt-4">
        <div
          class="col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12 mx-auto text-center"
        >
          <img src="https://res.cloudinary.com/uzhavar-image/image/upload/v1559387564/b-1.png" />
          <p class="mt-2">
            Preserve India’s rural livelihoods and farmland
          </p>
        </div>
        <div
          class="col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12 mx-auto text-center"
        >
          <img src="https://res.cloudinary.com/uzhavar-image/image/upload/v1559387572/b-2.png" />
          <p class="mt-2">
              Stimulate local economies
          </p>
        </div>
        <div
          class="col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12 mx-auto text-center"
        >
          <img src="https://res.cloudinary.com/uzhavar-image/image/upload/v1559387580/b-3.png" />
          <p class="mt-2">
              Increase access to fresh, nutritious food
          </p>
        </div>
        <div
          class="col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12 mx-auto text-center"
        >
          <img src="https://res.cloudinary.com/uzhavar-image/image/upload/v1559387588/b-4.png" />
          <p class="mt-2">
              Support healthy communities
          </p>
        </div>
        <div
          class="col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12 mx-auto text-center"
        >
          <img
            src="https://res.cloudinary.com/uzhavar-image/image/upload/v1559387596/b-5.png"
            style="max-width: 132px;max-height: 130px;"
          />
          <p class="mt-2">
              Promote Sustainability
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="container ">
                <div class="row holeRow">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="aboutus">
                            <br>
                            <p class="aboutus-text tamil_word">விவசாய பெருமக்கள் தாங்கள் விற்க விரும்பும்
                              விளைபொருள்களை இவ்வினையதளத்தில் பதிவேற்றி உங்கள் இருப்பிடத்திலேயே விற்று
                              பயன்பெறலாம். பொது மக்களும் தங்களுக்கு வேண்டிய பொருள்களை (காய்கறிகள்,
                              பழங்கள்,தானியங்கள்,விதைகள், மீன்) நேரிடையாக  விவசாயிகளிடமிருந்து மிகச்சரியான
                              விலையில் பெற்று கொள்ளலாம்.</p>
                            <p class="aboutus-text english_wrd">Farmers can also Rent/Lease
                            any materials or equipments from other farmers.  Consumers, Super Markets, Food Processing Companies,
                            Traders, WholeSalers, Exporters can buy agri products directly from farmers without any brokers.</p>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 d-md-block d-none">
                        <div class="aboutus-banner" style="margin-top: 30%;">
                            <img src="../../assets/Images/Im-Farmer.png" width="110%" height = "fit-content" >
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="feature">
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <i class="fa fa-heart icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Work with heart</h4>
                                        <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <i class="fa fa-certificate icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Reliable services</h4>
                                        <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset2">
                                        <i class="fa fa-handshake-o icon"  aria-hidden="true"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Great support</h4>
                                        <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
  </div>
</div>
