<div class="container pt-3">

    <div class="aboutus-section">
        <h4 class="whatWeDO">What We Do</h4>
        <p class="farmersFinger">விவசாயி விரலில்-விவசாய விளைபொருள் விலை !</p>
            <div class="container ">
                <div class="row holeRow">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="aboutus">
                            <!-- <h2 class="aboutus-title">About Us</h2> -->
                            <br>
                            <p class="aboutus-text tamil_word">விவசாய பெருமக்கள் தாங்கள் விற்க விரும்பும்
                              விளைபொருள்களை இவ்வினையதளத்தில் பதிவேற்றி உங்கள் இருப்பிடத்திலேயே விற்று
                              பயன்பெறலாம். பொது மக்களும் தங்களுக்கு வேண்டிய பொருள்களை (காய்கறிகள்,
                              பழங்கள்,தானியங்கள்,விதைகள், மீன்) நேரிடையாக  விவசாயிகளிடமிருந்து மிகச்சரியான
                              விலையில் பெற்று கொள்ளலாம்.</p>
                            <p class="aboutus-text english_wrd">Farmers can also Rent/Lease
                            any materials or equipments from other farmers.  Consumers, Super Markets, Food Processing Companies,
                            Traders, WholeSalers, Exporters can buy agri products directly from farmers without any brokers.</p>
  
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 d-md-block d-none">
                        <div class="aboutus-banner" style="margin-top: 30%;">
                            <img src="../../assets/Images/Im-Farmer.png" width="110%" height = "fit-content" >
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="feature">
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <i class="fa fa-heart icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Work with heart</h4>
                                        <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <i class="fa fa-certificate icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Reliable services</h4>
                                        <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset2">
                                        <i class="fa fa-handshake-o icon"  aria-hidden="true"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Great support</h4>
                                        <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>