<div id="focusDiv" tabindex="1"></div>
<body class="bg" style="overflow-x:hidden">
  <div class="container mt-5 pt-1">
    <h3 class="mt-5 pt-5 d-sm-block clr sent_font text-center tamil_word">
      உழவு என்பது தொழில் மட்டுமல்ல <br class="greetmsg" />
      - அது உயிரின் ஆதாரம்
    </h3>

    <div class="row mt-3">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row cardStyle">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mobMargin">
            <div class="card cardClr">
              <h5 class="clr sent_font1">Signup as a Seller</h5>
              <ul style="list-style: none" class="mt-3">
                <li class="listStyle">
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                  You can become a seller in Uzhavarsanthai by just clicking the
                  below button.
                </li>
                <li class="listStyle">
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                  You will get confirmation message from Uzhavarsanthai to login
                  as a seller.
                </li>
                <li class="listStyle">
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                  After successful login, You will be rewarded 1000 credits and
                  some credits will be deducted per post.
                </li>
                <li class="listStyle">
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                  Connect with us and
                  <span style="color: #0d4608;font-weight: bold"
                    >Do The Miracles in Agriculture !!!</span
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card mt-3">
              <div class="row" style="margin:0px">
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-10 col-sm-12">
                  <div
                    *ngIf="
                      this.roleStatus == 'Active' &&
                      this.crntUser.role == 'buyer'
                    "
                  >
                    <h5 class="mt-3 clr sent_font1">Your Details</h5>
                    <div class="form-group mt-4 m-2">
                      <label class="english_wrd" for="name"
                        ><span style="font-size: 14px;" class="tamil_word">
                        </span
                        >Name</label
                      >
                      <input
                        type="text"
                        value="{{ crntUser.firstname }}"
                        name="name"
                        class="form-control"
                        readonly
                      />
                    </div>
                    <div class="form-group mt-3 m-2">
                      <label class="english_wrd" for="phone"
                        ><span style="font-size: 14px;" class="tamil_word">
                        </span
                        >Phone Number</label
                      >
                      <input
                        type="text"
                        value="{{ crntUser.phone }}"
                        name="phone"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>

                  <div *ngIf="this.roleStatus == 'Deactive'">
                    <!-- <br> -->
                    <h4 class="text-center mt-3 clr sent_font">
                      Request sent!
                    </h4>
                    <p class="clr mt-3 paraStyle">
                      Your request for seller has been sent succesfully! Please
                      wait until you get confirmation message to LOGIN.
                    </p>
                    <img
                      class="imgStyle d-sm-block d-none mb-3"
                      src="../../assets/Images/ezgif.com-crop (3).gif"
                    />
                  </div>

                  <div
                    *ngIf="
                      this.roleStatus == 'Active' &&
                      this.crntUser.role == 'seller'
                    "
                  >
                    <!-- <br> -->
                    <h4 class="text-center mt-3 clr sent_font">
                      You are a SELLER now!
                    </h4>
                    <img
                      class="imgStyle1 d-sm-block d-none mt-1 mx-auto"
                      src="../../assets/Images/payment.gif"
                    />
                    <p class="clr mt-3 mb-3 paraStyle">
                      You have been succesfully activated as seller by
                      Uzhavrasanthai! You can now post your products.
                    </p>
                  </div>

                  <div *ngIf="this.roleStatus == 'Rejected'">
                    <!-- <br> -->
                    <h4 class="text-center mt-3 clr sent_font">
                      Sorry!
                    </h4>
                    <img
                      class="d-sm-block d-none mb-3"
                      style="height: 130px;
                      margin-left: auto;
                      margin-right: auto;"
                      src="../../assets/Images/reject.png"
                    />
                    <p class="clr mt-3 paraStyle">
                      Your seller request has been rejected by Uzhavarsanthai!
                      Please contact our executive.
                    </p>
                  </div>
                </div>
                <div class="col-md-1 col-sm-12"></div>
              </div>
              <button
                class="btn mx-auto mt-3 mb-3"
                style="padding: 5px;font-size: 14px;"
                *ngIf="
                  show &&
                  (this.roleStatus == 'Active' && this.crntUser.role == 'buyer')
                "
                (click)="updateUser()"
              >
                Make me as a seller
              </button>
              <button
                class="btn btn1 mx-auto mt-3 mb-5"
                *ngIf="!show || this.roleStatus == 'Deactive'"
              >
                Seller request sent
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</body>
