<body class="bg" style="overflow-x:hidden">
  <div class="container mt-5 pt-1">
    <h2 class="mt-5 pt-5 d-sm-block clr sent_font text-center tamil_word">
      உழவு என்பது தொழில் மட்டுமல்ல <br class="greetmsg" />
      - அது உயிரின் ஆதாரம்
    </h2>

    <div class="row mt-2">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card cardStyle">
          <h4 class="text-center clr sent_font">Signup as a Seller</h4>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</body>
