<div id='focusDiv' tabindex="1"></div>
<body class="bg" style="overflow-x: hidden;">
  <div class="container card marTop">
    <h5 class="styl mt-3">My Orders</h5><br>
    <section id="tabs" style="margin-top: -20px;">
          <div class="container">
              <div class="row">
                <div class="col-xs-12 ">
                      <nav>
                          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Recent Orders</a>
                              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Past Orders</a>
                          </div>
                      </nav>
                    </div>
                </div>
          </div>
      </section>
      <div class="tab-content py-3" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div *ngIf="recentErrMsg">
                <div class="col-md-3 col-lg-4 col-12"></div>
                <div class="col-md-6 col-lg-4 col-12 errDesign">
                    <img src="https://res.cloudinary.com/uzhavar-image/image/upload/v1558507630/empty_cart_retina.png" class="imgRes" alt="cart">
                    <p class="mt-4" style="font-style: italic;">{{recentErrMsg}}</p>
                </div>
                <div class="col-md-3 col-lg-4 col-12"></div>
        </div>
            <div class="container">
              <div class="row  mb-2" *ngFor="let order of recentOrder | paginate: {id: 'foo', itemsPerPage:10,currentPage:p},let i = index">
              <div class="container card">
                <div class="row card-header" style="height:50px">
                  <div class="col-md-9 col-4">
                   <p class="orderHighlight">{{order.requestId}}</p>
                  </div>
                  <div class="col-md-3 col-8" style="text-align: right;">
                    <div style="font-weight: bold;display: inline-flex;">
                    <p class="orderHead2" [ngStyle]="{'color':order.status === 'Order created' ? 'green' : 'red' }">{{order.status}}</p>
                    <!-- <p style="cursor: pointer;" >View</p> -->
                    <div class="dropdown" style="margin-top: -7px;">
                    <p class="btn dropdown-toggle fntSizeMob" data-toggle="dropdown">
                     <span class="mobHide">More</span>&nbsp;<i class="fa fa-ellipsis-v"></i>
                    </p>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" routerLink="/orderView/{{(order._id)}}" style="cursor: pointer;" >View</a>
                      <a class="dropdown-item" style="cursor: pointer;" (click)="singleUpdateSignupReq(order._id)" data-toggle="modal" data-target="#exampleModalCenter" data-backdrop="static" >Dispute</a>
                    </div></div>
                  </div>
                </div>
              </div>

                <div class="row">
                  <div class="col-md-2 col-sm-12" style="margin-top: 15px;">
                  <img height="100px"  width="100px" src="{{order.image}}">
                  </div>
                  <div class="col-md-4" style="text-align: left;margin-top: 15px;">
                    <p class="orderHead1 tamil_word " style="color: #0d4608;font-weight: bold;">{{order.prdctCategory}}</p>
                    <p class="orderHead tamil_word" style="font-size: 14px;">{{order.prdctName}}</p>
                    <p class="orderHead">{{order.requiredQuantity}} {{order.requiredUnit}}</p>
                    <p class="orderHead">{{order.prdctAvlplace}}</p>
                  </div>
                  <div class="col-md-2" style="text-align: left;margin-top: 15px;">
                    <p class="orderHead1" style="color: #0d4608;font-weight: bold;">Seller</p>
                    <p class="orderHead">{{order.sellerName}}</p>
                    <p class="orderHead1" style="color: #0d4608;font-weight: bold;">Urgency</p>
                    <p class="orderHead">{{order.urgency}}</p>
                  </div>
                  <!-- [ngStyle]="{'display':order.status === 'Closed'? 'none' : '' }" [ngStyle]="{'display':order.status === 'Order cancelled'? 'none' : '' }" -->
                  <div class="col-md-4 center canelBtn" *ngIf = "order.status == 'Order created'">
                   <button class="btn text-center viewMoreBtn button_word" style="padding: 3px;" data-toggle="modal" data-target="#myModal1"  (click)="singleUpdateSignupReq1(order._id)">Cancel Order</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="mx-auto mt-3" *ngIf="!recentErrMsg">
              <pagination-controls id="foo"  style="margin-right: 30px;" maxSize="5" class="ngx-pagination" (pageChange)="p = $event" directionLinks="true"
              autoHide="true"></pagination-controls>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div *ngIf="pastErrMsg">
            <div class="col-md-3 col-lg-4 col-12"></div>
            <div class="col-md-6 col-lg-4 col-12 errDesign">
                <img src="https://res.cloudinary.com/uzhavar-image/image/upload/v1558507630/empty_cart_retina.png" class="imgRes" alt="cart">
                <p class="mt-4" style="font-style: italic;">{{pastErrMsg}}</p>
            </div>
            <div class="col-md-3 col-lg-4 col-12"></div>
    </div>
        <div class="container">
          <div class="row  mb-2" *ngFor="let order of pastOrder | paginate: {id: 'foo1', itemsPerPage:10,currentPage:d},let i = index">
          <div class="container card">
            <div class="row card-header" style="height:50px">
              <div class="col-md-6 col-6">
               <p class="orderHighlight">{{order.requestId}}</p>
              </div>
              <div class="col-md-6 col-6" style="font-weight: bold;">
                <p class="orderHead2 float-right" [ngStyle]="{'color':order.status === 'Order created' ? 'green' : 'red' }">{{order.status}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 col-sm-12" style="margin-top: 15px;">
              <img height="100px"  width="100px" src="{{order.image}}">
              </div>
              <div class="col-md-4" style="text-align: left;margin-top: 15px;">
                <p class="orderHead1" style="color: #0d4608;font-weight: bold;">{{order.prdctCategory}}</p>
                <p class="orderHead tamil_word" style="font-size: 14px;">{{order.prdctName}}</p>
                <p class="orderHead">{{order.requiredQuantity}} {{order.requiredUnit}}</p>
                <p class="orderHead">{{order.prdctAvlplace}}</p>
              </div>
              <div class="col-md-4" style="text-align: left;margin-top: 15px;">
                <p class="orderHead1" style="color: #0d4608;font-weight: bold;">Seller</p>
                <p class="orderHead">{{order.sellerName}}</p>
                <p class="orderHead1" style="color: #0d4608;font-weight: bold;">Urgency</p>
                <p class="orderHead">{{order.urgency}}</p>
              </div>
              <div class="col-md-2 center canelBtn">
               <button class="btn text-center viewMoreBtn button_word" style="padding: 3px;" data-toggle="modal" data-target="#myModal1"  (click)="singleUpdateSignupReq1(order._id)" [ngStyle]="{'display':order.status === 'Order cancelled' ? 'none' : '' }">Cancel Order</button>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="mx-auto mt-3" *ngIf="!pastErrMsg">
          <pagination-controls id="foo1"  style="margin-right: 30px;" maxSize="5" class="ngx-pagination" (pageChange)="d = $event" directionLinks="true"
          autoHide="true"></pagination-controls>
        </div>
          </div>
      </div>

    </div>

     <!-- modal -->

 <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title fntSize" style="font-family:'Oxygen', sans-serif;">Cancel Confirmation</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-black x">X</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-center" style="font-family: 'Mukta', sans-serif;">Are you sure want to cancel this request?</p>
          <div class="text-center">
           <button type="button" class="btn btnClr button_word modelBtn" (click)="updateSignupReq1()" data-dismiss="modal">Yes</button>&nbsp;&nbsp;&nbsp;
           <button type="button" class="btn btnDanger button_word modelBtn" routerLink="/my-order" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <p class="modal-title fntSize">Order Review</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-black x" id="closeCancelOrderModal1" (click)="clear()">X</span>
              </button>
             </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div style="color:#0d4608;">
                <div class="row">
                  <div class="col-md-8">
              <h6 class="english_wrd">Category : {{userOrder1.prdctCategory}}</h6></div>
              <div class="col-md-4">
              <h6 class="english_wrd tamil_word">Name : {{userOrder1.prdctName}}</h6></div>
            </div>
            <form #reviewform="ngForm" *ngIf ="!submitted" novalidate>
              <div class="form-group">
                    <div class="form-group mt-3">
                <textarea class="form-control borderClr" #review="ngModel" ngModel [(ngModel)]="reviewData.review" [class.is-invalid]="review.invalid && review.touched" rows="2" id="comment" name="review" placeholder="Enter your review" autocomplete="off" required></textarea>
                <span class="text-danger float-left error_word errFont" [class.d-none] = "review.valid || review.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Review is required</span>
              </div>
              <div style="display:inline-flex;">
              <label class="english_wrd" for="dispute" >Rating : </label>
              <div class="star-rating" id="starRating" style="margin-top: -9px;">
                  <input type="radio" id="5-stars" name="rating" value="5" />
                  <label for="5-stars" class="star" (click)="fiveStar()">&#9733;</label>
                  <input type="radio" id="4-stars" name="rating" value="4" />
                  <label for="4-stars" class="star" (click)="fourStar()">&#9733;</label>
                  <input type="radio" id="3-stars" name="rating" value="3" />
                  <label for="3-stars" class="star" (click)="threeStar()">&#9733;</label>
                  <input type="radio" id="2-stars" name="rating" value="2" />
                  <label for="2-stars" class="star" (click)="twoStar()">&#9733;</label>
                  <input type="radio" id="1-star" name="rating" value="1" />
                  <label for="1-star" class="star" (click)="oneStar()">&#9733;</label>
                </div></div>
            </div><hr>
              <div class="mt-4 text-center">
              <button type="submit" class="btn viewMoreBtn1" (click)="reviewAndRating()" [disabled]="reviewform.form.invalid">Send Review</button>
            </div>
            </form>
            </div> </div>
          </div>
        </div>
      </div>

   <!-- modal for dispute -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p id="exampleModalLongTitle" class="modal-title fntSize">Dispute against <span style="font-style:italic">{{userOrder1.sellerName}}</span></p>
          <button type="button" class="close" data-dismiss="modal" (click) = "formReset()" aria-label="Close">
            <span aria-hidden="true" class="text-black x" id="closeCancelOrderModal">X</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-success text-center error_word"  *ngIf="orderRequestMsg">
            {{orderRequestMsg}}
          </div>
            <!-- <span class="float-right"><span><b>Seller Name</b></span> : {{userOrder1.sellerName}}</span> -->
        <form #disputeForm="ngForm" *ngIf ="!submitted" novalidate>
            <div class="form-group">
                <label class="english_wrd" for="dispute" style="color:#0d4608">Dispute</label>
                    <textarea type="text" #dispute="ngModel" [class.is-invalid]="dispute.invalid && dispute.touched" ngModel name="dispute" class="form-control borderClr" [(ngModel)]="userData.dispute" autocomplete="off" required></textarea>
                    <span class="text-danger float-left error_word errFont" [class.d-none] = "dispute.valid || dispute.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Dispute is required</span>
            </div>
            <div class="mt-4" style="text-align:center">
            <button type="button" [disabled]="disputeForm.form.invalid" class="btnClr btn" (click)="disputeSave()">Save changes</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success" [hidden]="true" data-toggle="modal" data-target="#myModal5" name="button" id="openConfirmModal"></button>
  <!-- //open login modal -->
  <div class="modal fade" data-backdrop="static" data-keyboard="false"  tabindex="-1" role="dialog" id="myModal5">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body" style="padding: 25px;">
            <h5 class="text-center" style="color:#0d4608">Sent successfully!</h5>
            <p class="text-center">We got your dispute, Sorry! for the inconvenience.
            </p>
            <div class="text-center">
                <button type="button" class="btn btn-success button_word" data-dismiss="modal" aria-label="Close">OK</button>
            </div>
        </div>
      </div>
    </div>
  </div>
