
  .title{
    border-radius: 0px 20px 0px 20px;
    height: 45px;
    color: #dee2e6;
    padding-left: 30%;
    background-color: #23dfe8;  
  }
  .details{
    padding-top: 8px;
    color: #fff;
    font-size: 18px
  }
  .search_div{
    float: right;
    width: 100%
  }
  .has-search .form-control1 {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
  textarea{
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 30px;
    height: 50px;
  }
  
  .modal-title{
    color: #072304;
    margin-left: auto;
    margin-right: auto
  }
  .no_deals_found{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 25px;
    background-color: white;
    width: fit-content;
    margin: auto;
    padding: 5px;
    box-shadow: 7px 7px 7px grey;
    border-radius: 5px;
    margin-top: 20% !important;
  
  }

  .btn-primary1{ 
    margin: auto;
    border-radius: 25px ;
    width: 50%;
    color: #fff;
    background-color: rgb(242, 101, 50);
    border: 1px solid  #9d0a18;
  }
  .btn-primary1:hover{
    border: 1px solid #04857e;
    background-color:  green;
  }
  .bg {
    background: url(../../assets/Images/6.jpg); 
    background-position: center center;
     background-repeat:  no-repeat;
     background-attachment: fixed;
     background-size:  cover;
     background-color: #999;
     min-height: 100vh;
     width:100%;
     min-height: -webkit-fill-available;
  }
  .icon{
    /* margin: auto; */
    background: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px; 
/*    
    font-weight: 400; */
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    float: right;
  }

  .srchBox {
    background: white;
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px; 
    display: inline-block;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
  }

.imge{
  padding: 5px;
  width: 7.4%;

  background-color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 2px solid #fff;



}
.btnnn {
  width: 100%;
   display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.srchBox:focus {
  width: 90%;
}

.Appbtn{
  text-align: left;
  padding: 0;
}

.btn{
  
  /* width: 50%; */
  
}
btn2{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 0px !important;
}
th{
  font-family: 'Oxygen', sans-serif;
}
td {
  font-family: 'Oxygen', sans-serif;
}
@media screen and (min-width: 320px) and (max-width:425px) {
  th {
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
  }
  td {
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
  }
  .btn-warning{
    font-size: 12px;
    font-weight: bold;
  }
  .btn-danger{
    font-size: 12px;
    font-weight: bold;
  }
  .srchBox{
    font-size: 13px;
  }
  .btn-success{
    font-size: 13px;
  }
}
.button_word{
  font-family: 'Kanit', sans-serif;
  
}
.english_wrd{
  font-family: 'Mukta', sans-serif;
}
input {
  font-family: 'Nunito', sans-serif;
}
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

@media only screen and (min-width: 320px) and (max-width:425px){
  .no_deals_found{
      text-align: center;
      color: black;
      font-weight: bold;
      font-size: 18px;
      margin-top:20% !important;
      background-color: white;
      box-shadow: 7px 7px 7px grey;
      border-radius: 5px;

  }

 .onmobiviewpadding{
  padding: 10px;
 }
}