<body class=" mt-5 pt-5 bg">
  <div class="container-fluid">
      <div class="container-fluid">
            <div class="Appbtn">
                    <button type="button" class="btn btn-success btn-fill  btn-wd btn-finish post" routerLink="/post">New Post</button>
                </div>
      </div>
      
      <div class="toolbar mb-3 row">
          <div class="col-md-8"></div>
          
          <div class="col-md-2 col-lg-2 col-xs-12 col-sm-2 Appbtn" >
                <form>
                        <input type="text" class="float-right srchBox" placeholder="Search By Category" id="search_box" [(ngModel)]="queryString" name="search" autocomplete="off">
                      </form>
            </div>
        
      </div>
      <div class="row mb-3" *ngIf = "success">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                    <div class="alert alert-success text-center">
                            {{success}}
                          </div>
            </div>
            <div class="col-md-4"></div>
          </div>
      <div class="row">
            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-4" *ngIf="errMsg">
                    <div class="alert alert-danger text-center">
                        {{errMsg}}
                    </div>
              </div>
         
          </div>
    
      <div class="row">
          <div class="col-md-12">
              <div class="card" >
                  <div class="card-content">
                      <!-- <br> -->

                      <div class="fresh-table table-responsive" id="hideTable">
                          <table id="postList" class=" table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead style="text-align: center">
                                  <tr>
                                      <th>Category</th>
                                      <th>Name</th>
                                      <th>Quantity</th>
                                      <th>Sub Quantity</th>
                                      <th>Price / Quantity</th>
                                      <th>Post Date</th>
                                      <th>Post Time</th>
                                      <!-- <th>City</th> -->
                                      <th class="disabled-sorting">Action</th>
                                  </tr>
                              </thead>
                              <tbody style="text-align: center" id="hide">
                                
                                  <tr  *ngFor="let deal of userDeals | paginate: { itemsPerPage:6,currentPage:p} | filterdata: queryString  : 'category' "  >
                                      
                                      <td>{{deal.category}}</td>
                                      <td>{{deal.name}}</td>
                                      <td>{{deal.quantity}}{{deal.qnty}} </td>
                                      <td> {{deal.subQuantity}}{{deal.subqnty}} </td>
                                      <td>Rs.{{deal.price}}/-</td>
                                      <td>{{deal.date | date: 'dd/MM/yyyy'}}</td>
                                      <td>{{deal.date | date: 'hh:mm a'}}</td>
                                      <!-- <td>{{deal.avlPlace.avlplaceName}}</td> -->
                                      <td>
                                          <!-- <button class="btn btn-simple btn-info btn-icon like">
                                              <i class="ti-heart"></i>
                                          </button> -->
                                          <button class="btn btn-simple btn-warning btn-icon edit" routerLink="/user-deals-edit/{{deal._id}}">
                                              <!-- <i class="ti-pencil-alt"></i> தொகுத்தல்--> Edit
                                          </button>&nbsp;&nbsp;
                                          <button class="btn btn-simple btn-danger btn-icon remove" data-toggle="modal" data-target="#myModal" data-backdrop="static"
                                           data-keyboard="false" routerLink="/user-deals/{{deal._id}}">
                                              <!-- <i class="fa fa-rupee"></i> -->Delete
                                          </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          
                      </div>
                      
                  </div>
                  <!-- end content-->

              </div>
              
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <div class="mx-auto page mt-2"  style="float: right">
        <pagination-controls class="ngx-pagination" (pageChange)="p=$event"></pagination-controls>
      </div>
      <!-- end row -->
  </div>

</body>



 <!-- modal -->

 <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      
        <h4 class="modal-title">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        <h6 class="text-center">Are you sure want to delete?</h6>
        <div class="text-center">
       
         <button type="button" class="btn btn-primary" routerLink="/user-deal" (click)="deleteuser()" data-dismiss="modal">Yes</button>&nbsp;&nbsp;&nbsp;
         <button type="button" class="btn btn-danger" routerLink="/user-deals" data-dismiss="modal">No</button>
        </div>
      </div>
    
    </div>
    
  </div>
</div>