<div id='focusDiv' tabindex="1"></div>
<body class="bg" style="overflow-x: hidden;">
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-5" >

      </div>
      <div class="col-md-2">
         <button type="button" class="btn btn-outline-success text-center viewMoreBtn  button_word" (click)="resetObj()" data-toggle="modal" data-target="#myModal" >New Subscription <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="container mt-3">
       <div class="tab-content" id="nav-tabContent">
           <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="card mt-1"  id="hideTable" >
                                        <div class="card-content">
                                          <div class="fresh-table table-responsive">
                                                <table id="postList" class=" table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                    <thead style="text-align: center; background-color: #0d460840;">
                                                        <tr>
                                                            <th>Subscription</th>
                                                            <th>Amount</th>
                                                            <th>Credit</th>
                                                            <th>Status</th>
                                                            <th>Post Date</th>
                                                            <th class="disabled-sorting">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="text-align: center">
                                                         <tr *ngIf="errMsg">
                                                                 <td colspan="7" class="text-danger" style="text-align: center">
                                                                    {{errMsg}}
                                                                 </td>
                                                             </tr>

                                                        <tr  id="hide" *ngFor="let subscription of subscriptionArr | filterdata: queryString  : 'category'| paginate: {id: 'foo', itemsPerPage:10,currentPage:p},let i = index"  >
                                                             <td *ngIf="deal === -1" class="prdUnavil text-danger" style="text-align: center">
                                                                 {{errMsg2}}
                                                             </td>
                                                            <td>
                                                            <div class="productFullName">{{subscription.subscription}}</div>
                                                             </td>
                                                            <td>{{subscription.amount}}</td>
                                                           <td>{{subscription.credit}}</td>
                                                           <td> {{subscription.status}} </td>
                                                            <td>{{subscription.createdAt | date: 'dd/MM/yyyy'}}</td>

                                                            <td style="display: flex;" *ngIf="deal !== -1" >
                                                                <button id="hideEditBtn" (click)="getSingleSubsc(subscription._id)" data-toggle="modal" data-target="#myModal"
                                                                class="btn btn-outline-success text-center viewMoreBtn button_word" style="width: 50%;"><i class="fa fa-pencil" aria-hidden="true"></i>
                                                                 Edit
                                                                </button>
                                                                 &nbsp;
                                                                <button id="hideDeleteBtn" (click)="getSingleSubsc(subscription._id)" class="btn btn-outline-success text-center viewMoreBtn button_word"   style="width: 50%;" data-toggle="modal" data-target="#myModal1" data-backdrop="static"
                                                                 data-keyboard="false">
                                                                 <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                                                </button>
                                                            </td>

                                                        </tr>

                                                    </tbody>

                                                </table>


                                            </div>
                                        </div>
                                    </div>
           <div class="mx-auto mt-3">
            <pagination-controls id="foo"  style="margin-right: 30px;" maxSize="5" class="ngx-pagination" (pageChange)="p = $event"></pagination-controls>
          </div>
</div>

</div>
</div>
</div>
</body>
<!-- modal -->

<div class="modal fade mt-5" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title fntSize" style="font-family:'Oxygen', sans-serif;"><b>Create Subscription</b></p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-black x" (click)="clear()" id="closeCancelOrderModal1">X</span>
          </button>
        </div>
        <div class="modal-body">
            <form  #subcription="ngForm" *ngIf ="!submitted" novalidate>
                <div class="row">
                  <div class="col-md-6">
                <div class="form-group">
                    <label class="english_wrd" for="phone" ><span style="font-size: 14px" class="tamil_word">
                        நன்கொடை </span>/ Subscription</label>
                  <input type="text" class="form-control" required name="subscription" #subscription="ngModel" [class.is-invalid]="subscription.invalid && subscription.touched" [(ngModel)]="subcriptionData.subscription">
                  <small class="text-danger" [class.d-none]="subscription.valid || subscription.untouched"><b>Please enter subscription</b></small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label class="english_wrd" for="phone" ><span style="font-size: 14px" class="tamil_word">
                        தொகை </span>/ Amount</label>
                  <input type="text" class="form-control" required name="amount" #amount="ngModel" [class.is-invalid]="amount.invalid && amount.touched" [(ngModel)]="subcriptionData.amount">
                  <small class="text-danger" [class.d-none]="amount.valid || amount.untouched"><b>Please enter amount</b></small>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="english_wrd" for="phone" ><span style="font-size: 14px" class="tamil_word">
                          நன்கொடை </span>/ Credit</label>
                    <input type="text" class="form-control" required name="credit" #credit="ngModel" [class.is-invalid]="credit.invalid && credit.touched" [(ngModel)]="subcriptionData.credit">
                    <small class="text-danger" [class.d-none]="credit.valid || credit.untouched"><b>Please enter credit value</b></small>
                  </div>
                </div>
                <div class="col-md-6">
                    <label class="english_wrd" for="phone" ><span style="font-size: 14px" class="tamil_word"> நிலை </span>/ Status</label>
                    <select class="form-control" name="status" required #status="ngModel" [class.is-invalid]="status.invalid && status.touched" [(ngModel)]="subcriptionData.status">
                      <option value="ACTIVE">ACTIVE</option>
                      <option value="INACTIVE">INACTIVE</option>
                    </select>
                    <small class="text-danger" [class.d-none]="status.valid || status.untouched"><b>Please select status</b></small>
                  </div>
                  <div class="col-md-12">
                    <label class="english_wrd" for="phone" ><span style="font-size: 14px" class="tamil_word"> திட்டம் </span>/ Plan</label>
                    <select class="form-control" name="planType" required #planType="ngModel" [class.is-invalid]="planType.invalid && planType.touched" [(ngModel)]="subcriptionData.planType">
                      <option value="Free plan">Free plan</option>
                      <option value="Paid plan">Paid plan</option>
                    </select>
                    <small class="text-danger" [class.d-none]="planType.valid || planType.untouched"><b>Please select plan</b></small>
                  </div>
              </div>
              <div class="text-center mt-3">
                <button type="submit" class="btn btnClr button_word" (click)="onSubmit()">Create Subscription</button>
              </div>
              </form>
        </div>

      </div>

    </div>
  </div>
 <!-- modal -->

 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title fntSize" style="font-family:'Oxygen', sans-serif;">Delete Confirmation</p>
        </div>
        <div class="modal-body">
          <p class="text-center" style="font-family: 'Mukta', sans-serif;">Are you sure want to delete?</p>
          <div class="text-center">
           <button type="button" class="btn btnClr button_word modelBtn" (click)="deleteuser()" data-dismiss="modal">Yes</button>&nbsp;&nbsp;&nbsp;
           <button type="button" class="btn btnDanger button_word modelBtn" routerLink="/products" data-dismiss="modal">No</button>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fntSize" style="font-family:'Oxygen', sans-serif;">Delete Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-black x" (click)="clear()" id="closeCancelOrderModal">X</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="text-center" style="font-family: 'Mukta', sans-serif;">Are you sure want to delete?</h6>
          <div class="text-center">

           <button type="button" class="btn btnClr button_word modelBtn" (click)="deleteSubscription()" data-dismiss="modal">Yes</button>&nbsp;&nbsp;&nbsp;
           <button type="button" class="btn btnDanger button_word modelBtn" data-dismiss="modal">No</button>
          </div>
        </div>

      </div>

    </div>
  </div>
