.english_wrd {
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Mukta', sans-serif;
  }
  .tamil_wrd {
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Hind Madurai', sans-serif;
  }
  .button_word {
    font-family: 'Kanit', sans-serif;
  }

  .bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    min-height: 100vh;
    width: 100%;
    min-height: -webkit-fill-available;
  }