<body class="bg" style="overflow: hidden;">
  <div class="container mt-5 pt-1">
      <h2 class="mt-5 pt-5 d-sm-block clr sent_font text-center tamil_word">உழவு என்பது தொழில் மட்டுமல்ல <br class="greetmsg"> - அது உயிரின் ஆதாரம்
      </h2>
    <div class="row mt-5">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="alert alert-danger text-center error_word onmobviewfont"  *ngIf="errormsg">
                {{errormsg}}
              </div>
              <div class="alert alert-danger text-center error_word"  *ngIf="deactiveErrorMsg">
                {{deactiveErrorMsg}}
              </div>
              <form #loginform="ngForm" *ngIf ="!submitted" novalidate>
                <h5 class="h5 mb-4 mt-1 clr mobviewfonteng titilebold" style="text-align: center;"><span  class="tamil_word mobviewfontamil">உள் நுழைக </span> / Login</h5>
           <div class="form-group mt-2">
               <label class="english_wrd" for="phone" ><span style="font-size: 14px" class="tamil_word"> தொலைபேசி எண் </span>/ Phone Number</label>
                    <input type="text"  #input1 #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" ngModel name="phone" class="form-control" [(ngModel)]="userData.phone" autocomplete="off" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" autofocus required>
                    <span class="text-danger float-left error_word" [class.d-none] = "phone.valid || phone.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Phone Number is required</span>
                  </div>
                <div class="form-group mb-5">
                    <label class="english_wrd" for="password"><span style="font-size: 14px" class="tamil_word"> கடவுச்சொல் </span>/ Password</label>
                  <input type="password"  #password="ngModel" [class.is-invalid]="password.invalid && password.touched" ngModel name="password" class="form-control" [(ngModel)]="userData.password" autocomplete="off"  required>
                  <span class="text-danger float-left error_word" [class.d-none] = "password.valid || password.untouched "><i class="fa fa-info-circle" aria-hidden="true"></i> Password is required</span>
                </div>
    
                <button [disabled]="loginform.form.invalid " class="btn mt-4 mb-4 btn-block button_word" type="submit" (click)="logform()"><span style="font-size: 14px" class="tamil_word">உள் நுழைக </span> / Login</button>
    
              </form>
     
          <p class="clr  txtalign " style="font-size: 18px;">Don't have an account yet? <span class="span_clr" (click)="register()" style="font-size: 18px;">Sign Up</span> </p>    
          </div>
      <div class="col-md-2">   </div>
</div>
 
    </div>
    </div>
  </div>

          </body>
