<div class="bg">
<div class="text-center mb-5 container">
  <h2 class="mt-5 pt-5 d-sm-block d-none">The more one sows the greater the harvest</h2>
<!-- <div class="row mt-5">
  <div class="col-md-1"></div> -->
  <!-- <div class="col-md-4 col-sm-12 col-xs-12">
    <form>
      <h1 class="h3 mb-5 font-weight-normal">Log In</h1>
      <div class="form-group mb-5">
        <input type="text" id="name" class="form-control" autocomplete="off" required>
        <label class="form-control-placeholder" for="name">Name</label>
      </div>
      <div class="form-group">
        <input type="password" id="password" class="form-control"  autocomplete="off"  required>
        <label class="form-control-placeholder" for="password">Password</label>
      </div>
    </form>
  </div> -->
  <!-- <div class="col-md-1"></div>
<div class="col-md-6"></div>
</div> -->
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-4">
    <form>
        <h1 class="h3 mb-5 font-weight-normal mt-5 pt-5">Log In</h1>
        <div class="form-group mb-5 mt-2">
          <input type="text" id="name" class="form-control" autocomplete="off" required>
          <label class="form-control-placeholder" for="name">Name</label>
        </div>
        <div class="form-group mb-5 mt-2">
          <input type="password" id="password" class="form-control"  autocomplete="off"  required>
          <label class="form-control-placeholder" for="password">Password</label>
        </div>
        <button class="btn mb-5 mt-5" type="submit">Sign in</button>
       
      </form>
</div>
<div class="col-md-1"></div>
<div class="col-md-1"></div>
<div class="col-md-5">
 <h3 class="mt-5 mb-5 pt-5 font-weight-normal">We grow BEST food</h3>
 <div class="card">
    <div class="card-header">Header</div>
    <div class="card-body">Content</div> 
    <div class="card-footer">Footer</div>
  </div>
</div>
<div class="col-md-1"></div>
</div>
</div>
</div>