

.bg {
    /* The image used */
    background: url(./images/A5.jpg);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
      

}

 input[type=text], input[type=password] {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

input:focus{
    background-color: transparent;
    box-shadow: none;
    border: none;
}

input{
    background-color: transparent;
    /* border: 1px solid #79828b; */
    border-bottom: 2px solid white !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
} 
::placeholder {
    color: white;
    opacity: 1; /* Firefox */ 
}
.btn{
    font-size: 18px;
    background-color: white;
    /* color: white; */
    border: none;
    color: #0d4608;
    font-weight: bold;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control{
    color: white !important;
}
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    /* opacity: 0.5; */
    left: -12px;
    font-weight: 500;
    font-size: 17px;
    color: white;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 100%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    color: rgb(255, 254, 254);
  }
 
  .clr{
      color: white;
      font-family: 'Oxygen', sans-serif;
  }
  .sent_font{
    font-weight: bold;
    color: white;
    font-size: 20px;
  }
  .span_clr{
      text-decoration: underline;
      cursor: pointer;
  }
.greetmsg{
  display: none;
}
  .english_wrd{
    font-family: 'Mukta', sans-serif;
  }
  .tamil_word{
    font-family: 'Hind Madurai', sans-serif;
  }
  .error_word{
    font-family: 'Cabin', sans-serif;
  }
  input {
    font-family: 'Nunito', sans-serif;
  }
  .button_word{
    font-family: 'Kanit', sans-serif;
  }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .sent_font{
      font-size: 15px;
    }
    .greetmsg{
      display: block;
    }
  }