.bg{
    margin-top: -25px;
    background: url(./images/alimentos-organicos-1.jpg)no-repeat center ;
    height: 650px;
    background-size: cover;
    opacity: 0.9;
}
.formm{
    margin-top: 50px;
}
.log{
    color:#095d26;
   padding-top: 70px;
   padding-right: 35%;
   font-weight: bold;
}
.col-form-label{
    color: #095d26;
    font-size: 20px;
    font-weight: bold;
  
}
.border{
    border: 1 solid black;
}
.sub{
  
    padding-left: 35%;
}
.btn {
    width: 150px;
    height: 40px;
    background-color: #095d26;
    color:floralwhite ;
    border: #095d26;
    font-weight: bold;
    font-size: 20px;
}
 
