<div id="focusDiv" tabindex="1"></div>
<body class="bg" style="overflow: hidden;">
  <p *ngIf="errMsg" class="no_deals_found error_word">{{ errMsg }}</p>
  <div class="container marTop" style="margin-top: 8%;">
    <div class="row">
      <div
        class="col-md-6 col-sm-6 col-lg-4 col-xl-3 col-12 "
        *ngFor="
          let deal of categoryArr
            | paginate: { id: 'foo', itemsPerPage: 8, currentPage: e };
          let i = index
        "
        style="margin-bottom: 10px;"
      >
        <div
          class="card cardRes"
          style="cursor: pointer;border: 1px solid #0d4608;"
          routerLink="/viewCategory/{{ deal._id }}"
        >
          <div class="hover14">
            <figure>
              <img
                class="card-img-top zoom"
                height="150px"
                width="200px"
                src="{{ deal.image }}"
                alt="Card image cap"
              />
            </figure>
          </div>
          <div class="card-body text-center" *ngIf="deal.productcount">
            <button
              type="button"
              value="{{ deal.productcount }}"
              class="btn btn-outline-success text-center viewMoreBtn d-block btn btn-outline badge-notification"
            >
              {{ deal.productCategory }}
            </button>
          </div>
          <div class="card-body text-center" *ngIf="!deal.productcount">
            <button
              type="button"
              value="0"
              class="btn btn-outline-success text-center viewMoreBtn d-block btn btn-outline badge-notification"
            >
              {{ deal.productCategory }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto" id="hidePagination">
    <pagination-controls
      id="foo"
      class="ngx-pagination"
      style="margin-right: 30px; "
      (pageChange)="e = $event"
      maxSize="5"
      directionLinks="true"
      autoHide="true"
    ></pagination-controls>
  </div>
</body>
