.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100%;
}
.categoryHeading {
  margin-top: 30px;
  text-align: center;
  color: #0d4608;
  font-weight: bold;
  padding: 10px;
  font-family: 'Oxygen', sans-serif;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: #ef6806d9;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #ef6806d9;
}

.badge-notification {
  position: relative;
  margin-right: 10px;
}

.badge-notification[value]::after {
  content: attr(value);
  position: absolute;
  top: -11px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  background: var(--secondary);
  color: #fff;
}

span.badge-notification {
  margin-right: 24px;
}
span.badge-notification[value]::after {
  top: -11px;
  right: -24px;
}

.categoryName {
  text-align: center;
  background-color: #0d4608;
  border: 1px solid #0d4608;
  color: white;
  margin: auto;
  width: 150px;
  font-family: 'Hind Madurai', sans-serif;
}
.tamil_wrd {
  font-family: 'Hind Madurai', sans-serif;
}
.viewMoreBtn {
  margin: auto;
  font-weight: bold;
  color: #0d4608;
  border-color: #0d4608;
  font-family: 'Hind Madurai', sans-serif;
}
.viewMoreBtn:hover {
  background-color: #0d4608;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .marTop {
    margin-top: 25% !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 575px) {
  .categoryHeading {
    font-size: 15px;
  }
  .cardRes {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 300px) and (max-width: 365px) {
  .categoryHeading {
    font-size: 12px;
  }
}

.viewMoreBtn1 {
  margin: auto;
  font-weight: bold;
  color: white;
  background-color: #0d4608;
  border-color: #0d4608;
}
.viewMoreBtn1:hover {
  border-color: #0d4608;
  color: white;
}
/* .zoom {
  transition: transform .2s;
}
.zoom:hover {
  -ms-transform: scale(1.02); 
  -webkit-transform: scale(1.02);
  transform: scale(1.02); 
} */
/* Shine */
figure {
  /* width: 200px;
	height: 150px; */
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

.hover14 figure {
  position: relative;
}
.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.hover14 figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 100%;
  }
}
@keyframes shine {
  100% {
    left: 100%;
  }
}
