   
<body class="bg" style="overflow: hidden;">
    <div class="container-fluid">
        <h2 type="hidden" style="margin-top: 50px;text-align: center;color: white;font-weight: bold;padding: 10px;"></h2>
    </div>
    <div class="container-fluid">
        <h2 class="categoryHeading">Get Customized Category</h2>
    </div>
    <div class="container">
            <div class="row">
              <div class="col-md-3" *ngFor="let deal of categoryArr">
                <div class="card" style="cursor: pointer;" routerLink="/viewCategory/{{deal._id}}">
                  <img class="card-img-top" src="../../assets/Images/fresh-fruits-6.jpg" alt="Card image cap">
                     <div class="card-body">
                     <h5 class="card-title categoryName">{{deal.productCategory}}</h5>
                    </div>
                </div> 
              </div>
           </div>
          </div>
</body>
