.clr {
  color: #0d4608;
}

.icon {
  border: 1px solid #0d4608;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  color: white;
  background-color: #0d4608;
}

.heading {
  font-size: 23px;
  font-weight: 400;
}

.para {
  letter-spacing: 0.5px;
  font-size: 17px;
  line-height: 1.5em;
  color: #707579;
  font-weight: 400;
}

.english_wrd {
  font-family: 'Mukta', sans-serif;
}

.tamil_wrd {
  font-size: 15px;
  font-family: 'Hind Madurai', sans-serif;
}

input {
  border: 1px solid #0d4608;
  font-size: 1em;
  color: #0d4608;
  background: none;
  width: 100%;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 20px;
  outline: none;
  border-radius: 0.25rem;
}

::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #0d4608;
  font-family: 'Mukta', sans-serif;
}

textarea {
  border: 1px solid #0d4608;
  font-size: 1em;
  border-radius: 10px;
  color: #0d4608;
  background: none;
  width: 100%;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 20px;
  outline: none;
  min-height: 8.5em;
  resize: none;
  overflow: auto;
}

.btnClr {
  padding: 0.8em 1em;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  background: #0d4608;
  transition: 0.5s all;
  outline: none;
  margin: 1em 0 0;
  border-radius: 0px;
  width: 100%;
  border: 1px solid #0d4608;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.error_word {
  font-family: 'Cabin', sans-serif;
}

.btn1 {
  background-color: #0d4608;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 52px;
  height: 52px;
}

.mobileIcon {
  color: #0d4608 !important;
  font-weight: bold;
}

.button5 {
  border-radius: 50%;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .para {
    font-size: 12px;
    margin-left: 10px;
  }
  .heading {
    font-size: 21px;
    margin-left: 10px;
  }
}
.successemailMsg {
  text-align: center;
  color: #0d4608;
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
}
