<br><br>
<div id='focusDiv' tabindex="1"></div>
<div class="container-fluid bg1">
  <div class="container  pt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 card">
          <p class="updateProfile">Add address</p>
          <form  #updateAddressform="ngForm" *ngIf ="!submitted" novalidate >
          <div class="form-group">
              <label class="english_wrd" for="address"> <span style="font-size: 14px" class="tamil_word">முகவரி </span>/ Address</label>
                      <input type="text" #addressLine="ngModel" placeholder="Enter your address" [class.is-invalid]="addressLine.invalid && addressLine.touched" ngModel name="addressLine" [(ngModel)]="updateAddressData.addressLine" class="form-control"   autocomplete="off" required>
                      <span class="text-danger float-left error_word errFont" [class.d-none] = "addressLine.valid || addressLine.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Address is required</span>
           </div>
           <div class="form-group ">
               <label class="english_wrd" for="address"> <span style="font-size: 14px" class="tamil_word">மாவட்டம்  </span>/ City</label>
                  <input google-place type="text" placeholder="Enter your city" id="city" class="form-control addressplhldr"  #city="ngModel" (onSelect)="setAddress($event)"  name="city" [class.is-invalid]="city.invalid && city.touched"  [(ngModel)]="updateAddressData.city"ngModel  required>
                  <span class="text-danger float-left error_word errFont" [class.d-none] = "city.valid || city.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> City is required</span>
          </div>
          <div class="text-center">
           <button type="button" [disabled]="updateAddressform.form.invalid"  class="btn btnClr button_word modelBtn" (click)="updateAddress()">Save</button>
           <!-- <button type="reset" class="btn btnClr button_word modelBtn">Reset</button> -->
          </div>
          <br>
          </form>
        </div>
        <div class="col-md-3"></div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-success" [hidden]="true" data-toggle="modal" data-target="#myModal5" name="button" id="openConfirmModal"></button>
<!-- //open login modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false"  tabindex="-1" role="dialog" id="myModal5">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 25px;">
          <h5 class="text-center" style="color:#0d4608">Updated successfully!</h5>
          <p class="text-center">Your address has been saved successfully! <br>
            <!-- <span style="color:#0d4608;font-weight: bold;cursor: pointer;" data-dismiss="modal" aria-label="Close" routerLink="/orderView/{{requestData.orderRqstId}}" >Request ID : {{requestData.requestId}}</span>  -->
          </p>
          <div class="text-center">
              <button type="button" class="btn btn-success button_word" data-dismiss="modal" routerLink="/post" aria-label="Close">OK</button>
          </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" id="closeModal" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
