<div id='focusDiv' tabindex="1"></div>
<body class="bg" style="overflow-x: hidden;">
  <div class="container mt-5 pt-5">
    <h4 style="color:#0d4608;text-align:center">Support Tickets</h4>
    <br />
    <div class="row" *ngIf="successMsg || errMsg">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="alert alert-success text-center" *ngIf="successMsg">
          {{successMsg}}
        </div>
        <div class="alert alert-danger text-center" *ngIf="errMsg">
          {{errMsg}}
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="container" *ngFor="let dispute of disputeTicketArr | paginate: {id: 'foo', itemsPerPage:10,currentPage:d},let i = index">
      <div class="notice notice-success">
        <!-- <strong>Notice</strong> notice-success -->
        <div class="row">
          <div class="col-md-6 col-8">
            <p style="color: #ef6806d9;font-weight: bold;" class="ticketPara">
             <span style="color:#0d4608"> Ticket ID -</span> {{ dispute.ticketId }}
            </p>
          </div>
          <div class="col-md-6 col-4">
            <div class="float-right">
              <button class="btn btn-sm btn-success ticketRow" *ngIf="!dispute.ticketStatus" (click)="getSingleDispute(dispute._id)" (click)="clear()" data-toggle="modal" data-target="#exampleModalCenter" data-backdrop="static">
                Resolve
              </button>
              <button class="btn btn-sm btn-success ticketRow" *ngIf="dispute.ticketStatus" (click)="getSingleTicket(dispute._id)" (click)="clear()" data-toggle="modal" data-target="#exampleModalCenter1" data-backdrop="static">
                  Resolve
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span *ngIf="dispute.dispute">
              <p style="text-indent: 30px;">{{ dispute.dispute }}</p>
            </span>
            <span *ngIf="dispute.ticketDescription">
              <p>{{
                  dispute.ticketTitle
                }} -</p>
              <p style="text-indent: 30px;"> {{ dispute.ticketDescription }}</p>
            </span>
          </div>
          <div class="col-md-6">
            <span class="float-right">
              <div></div>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <span *ngIf="dispute.buyerName">
              <small
                >Disputed against :
                <span style="font-size: 15px;">{{
                  dispute.buyerName
                }}</span></small
              >
            </span>
          </div>
          <div class="col-md-6">
            <span class="float-right">
              <span *ngIf="dispute.disputerName"
                >By {{ dispute.disputerName }}
                <small>on {{ dispute.createdAt | date }}</small></span
              >
              <span *ngIf="dispute.username"
                >By {{ dispute.username }}
                <small>on {{ dispute.createddate | date }}</small></span
              >
            </span>
          </div>
        </div>
      </div>
      <br>
      <!-- <div class="notice notice-danger">
        <strong>Notice</strong> notice-danger
      </div> -->
    </div>
    <div class="mx-auto mt-3" *ngIf="!errMsg">
      <pagination-controls id="foo"  class="ngx-pagination" style="margin-right: 30px;" maxSize="5" (pageChange)="d = $event"></pagination-controls>
    </div>
  </div>
</body>




<!-- Modal for Dispute -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p id="exampleModalLongTitle" class="modal-title fntSize">Resolving Tickets</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-black x" id="closeCancelOrderModal">X</span>
        </button>
      </div>
      <div class="modal-body">
          <span class="float-right"><span><b>Ticket Id</b></span> : {{disputeObj1.ticketId}}</span>
      <form #disputeForm="ngForm" *ngIf ="!submitted" novalidate>
          <div class="form-group mt-2">
              <label class="english_wrd" for="solution" style="color:#0d4608" >Solution</label>
                  <textarea type="text" #solution="ngModel" [class.is-invalid]="solution.invalid && solution.touched" ngModel name="solution" class="form-control borderClr" [(ngModel)]="disputeObj.solution" autocomplete="off" required></textarea>
                  <span class="text-danger float-left error_word" [class.d-none] = "solution.valid || solution.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Solution is required</span>
          </div>
          <div class="mt-4" style="text-align:center">
          <button type="button" [disabled]="disputeForm.form.invalid" class="btnClr btn mx-auto" (click)="disputeUpdate()">Save</button>
        </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>

<!-- Modal for Ticket -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLongTitle" class="modal-title fntSize">Resolving Tickets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-black x" id="closeCancelOrderModal1">X</span>
        </button>
      </div>
      <div class="modal-body">
          <span class="float-right"><span><b>Ticket Id</b></span> : {{disputeObj1.ticketId}}</span>
      <form #disputeForm="ngForm" *ngIf ="!submitted" novalidate>
          <div class="form-group mt-4">
              <label class="english_wrd" for="solution" style="color:#0d4608" >Solution</label>
                  <textarea type="text" #solution="ngModel" [class.is-invalid]="solution.invalid && solution.touched" ngModel name="solution" class="form-control borderClr" [(ngModel)]="ticketObj.solution" autocomplete="off" required></textarea>
                  <span class="text-danger float-left error_word" [class.d-none] = "solution.valid || solution.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Solution is required</span>
          </div>
          <div class="mt-4" style="text-align:center">
          <button type="button" [disabled]="disputeForm.form.invalid" class="btnClr btn" (click)="ticketUpdate()">Save</button>
        </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
