<!-- Grid row -->
<div class="row mt-5 pt-5">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12  ">

    <!--Card-->
    <div class="card">

      <!--Card image-->
      

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>

    </div>
    <!--/.Card-->

  </div>

      </div>
  <!-- Grid column -->


      <!-- Grid column -->

   