
  .card{
    /* margin: 10px; */
   border-radius: 0px 20px;
   /*background-color: #23dfe8;
     background-color: rgb(252, 176, 59); */
   background-color: #032b31;
    height: 300px;
    /* width: 300px; */
    color: aliceblue;
  }
  .title{
    border-radius: 0px 20px 0px 20px;
    height: 45px;
    color: #dee2e6;
    padding-left: 30%;
    background-color: #23dfe8;  
  }
  .details{
    padding-top: 5px;
    color: #fff;
  }
  .card-body{
    font-size: 17px;
  }
  .no_deals_found{
    text-align: center;
    color: #f2f2f3;
    font-weight: bold;
    font-size: 18px
  }
  textarea{
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 30px;
    height: 50px;
  }
  .btn-primary{ 
    margin: auto;
    border-radius: 25px 0px 0px 0px  ;
    /* width: 50%; */
    color: #fff;
    background-color: rgb(242, 101, 50);
    border: 1px solid  #9d0a18;
  }
  .btn-primary:hover{
    border: 1px solid #04857e;
    background-color:  green;
  }
  .btnnn {
    width: 100%;
     display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }


/* @media only screen and (max-width: 600px) {
  .btnnn {
   
    }
    
     ::placeholder {
        text-align:center;
        color: #04857e;
          
        }
} */

  .card-body{
    
  font-size: 17px;
  }
  tr{
    text-align: left;
  }
  table{
    margin: auto;
  }
  .icon{
    /* margin: auto; */
    background: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px; 
/*    
    font-weight: 400; */
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    float: right;
  }
  /* .col-lg-11{
    padding-right: 0px !important;
    padding-left: 0px !important;
  } */
  /* .col-md-1{
    width: 0%!important;
  }
  .col-sm-1{
    width: 0%!important;
  }*/
  /* .col-lg-3{
    width: 0%!important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  } 
  .col-md-3{
    width: 0%!important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  } 
  .col-sm-3{
    width: 0%!important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }  */
 .srchBox {
  background: white;
  border-left: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius:0px; 
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
}
::placeholder {
  text-align:left;
  color: #04857e;
    
  }
.bg { 
  background: url(./images/6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: -webkit-fill-available;
}
 
.ngx-pagination a, .ngx-pagination button {
  color: rgb(5, 126, 31) !important;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 5px !important;
  font-weight: bold !important;
  font-size: 25px;
}
.ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: whitesmoke !important;
  cursor: default;
  font-size: 25px;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #055a28 !important;
  color: #fefefe;
  cursor: default;
  font-weight: 600;
  font-size: 30px;
  border-radius: 5px !important;
  /* / border-radius: 15px !important; / */
} 
pagination-controls{
  margin-top: 10px;
  float: right;
  
}
