
<body class="bg" style="overflow-x: hidden;">
<div class="container mt-5 pt-5">
    <div class="row mt-3 mb-3">
        <div class="col-lg-3 col-sm-12 col-md-12">
        <button class="btnnn btn-success" (click)="findMe()" id="hideButton">அருகிலுள்ள 
            விற்பனை</button>
            <button class="btn btn-success" routerLink="/location" style="display: none" id="showButton">Click here to continue</button>
            <button class="btn" style="display: none;" routerLink="/location" id="showButton" >continue</button>
        </div>
       <div class="col-lg-3  col-md-3 col-sm-3 col-xs-3"></div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                <span><input type="text" class="srchBox" style="width: 90%" placeholder="Search By Any Product Details...." id="search_box" [(ngModel)]="queryString" name="search" autocomplete="off">
                   </span>
                                   
        </div> -->
        <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="srchBox form-control1" style="width: 90%" placeholder="Search By Any Product Details...." id="search_box" [(ngModel)]="queryString" name="search" autocomplete="off">
            </div>
        </div>
      </div>
      <p class="no_deals_found " *ngIf="errMsg">{{errMsg}}</p>

  <div class="row mt-5">

    <div class="col-lg-4 col-md-6 col-12 col-sm-12 mr-md-0 mr-lg-0 mr-sm-0 mr-0 mb-3"  *ngFor = "let deal of crdDeals1 | filterdata: queryString  : 'category' | paginate: { itemsPerPage:6,currentPage:p }">
            
        <div class="card">
              
           <table>
              <div class="title">
                <tr>
                  <th class="details">Product Details</th>
                </tr>
              </div>
              <div class="card-body">
                  <tr>
                      <td><strong>Category &nbsp; </strong></td>
                      <td>:</td>
                      <td>&nbsp;&nbsp;{{deal.category}}</td>
                    </tr>
                <tr>
                  <td><strong>Name &nbsp;</strong></td>
                  <td>:</td>
                  <td>&nbsp;&nbsp;{{deal.name}}</td>
                </tr>
                <tr>
                    <td><strong>Quantity &nbsp;</strong></td>
                    <td>:</td>
                    <td>&nbsp;&nbsp;{{deal.quantity}}  {{deal.qnty}}</td>
                </tr>
                <tr>
                    <td><strong>Price / Quantity &nbsp;</strong></td>
                    <td>:</td>
                    <td>&nbsp;&nbsp;Rs.{{deal.price}}/-</td>
                </tr>
                <tr>
                    <td><strong>Post Date &nbsp;</strong></td>
                    <td>:</td>
                    <td>&nbsp;&nbsp;{{deal.date | date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                    <td><strong>Post Time &nbsp;</strong></td>
                    <td>:</td>
                    <td>&nbsp;&nbsp;{{deal.date | date:'hh:mm a'}}</td>
                </tr>
                <tr>
                    <td><strong>Available Place &nbsp;</strong></td>
                        <td>:</td>
                        <td>&nbsp;&nbsp;{{deal.avlPlace.avlplaceName}}</td>
                </tr>
                    
          </div>
          </table>
            <a  class="btn btn-primary mb-3"  routerLink= "/viewmore/{{deal._id}}"><strong>View Details</strong></a>
        </div>
      </div>
      <!-- <div style="text-align:center">
        <fa-icon [icon]="faCoffee"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faCheck"></fa-icon>
        
        
      </div> -->
      
  </div>
  <div class="mx-auto">
        <pagination-controls class="ngx-pagination" (pageChange)="p=$event"></pagination-controls>
      </div>
</div>

</body>



