
  .card{
    /* margin: 10px; */
   border-radius: 0px 20px;
   /*background-color: #23dfe8;
     background-color: rgb(252, 176, 59); */
   background-color: #032b31;
    height: 300px;
    /* width: 300px; */
    color: aliceblue;
  }
  .title{
    border-radius: 0px 20px 0px 20px;
    height: 45px;
    color: #dee2e6;
    padding-left: 30%;
    background-color: #23dfe8;  
  }
  .details{
    padding-top: 5px;
    color: #fff;
  }
  .card-body{
    font-size: 17px;
  }
  .no_deals_found{
    text-align: center;
    color: #f2f2f3;
    font-weight: bold;
    font-size: 18px
  }
  textarea{
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 30px;
    height: 50px;
  }
  .btn-primary{ 
    margin: auto;
    border-radius: 25px 0px 0px 0px  ;
    /* width: 50%; */
    color: #fff;
    background-color: rgb(242, 101, 50);
    border: 1px solid  #9d0a18;
  }
  .btn-primary:hover{
    border: 1px solid #04857e;
    background-color:  green;
  }
  /* .bg {
    background: url(./images/6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    background-attachment: fixed;
  } */
  .card-body{
    
  font-size: 17px;
  }
  tr{
    text-align: left;
  }
  table{
    margin: auto;
  }
 .srchBox{
  border-radius: 50px;
  border-color: #f26532;
 } 

 .srchBox {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 180px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  float: right;
}
.srchBox:focus {
  width: 200px;
}
.bg { 
  background: url(./images/6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: -webkit-fill-available;
}
 
.ngx-pagination a, .ngx-pagination button {
  color: rgb(5, 126, 31) !important;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 5px !important;
  font-weight: bold !important;
  font-size: 25px;
}
.ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: whitesmoke !important;
  cursor: default;
  font-size: 25px;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #055a28 !important;
  color: #fefefe;
  cursor: default;
  font-weight: 600;
  font-size: 30px;
  border-radius: 5px !important;
  /* / border-radius: 15px !important; / */
} 
pagination-controls{
  margin-top: 10px;
  float: right;
  
}