.bg1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100%;
}
.card {
  margin-top: 2%;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all 0.25s;
}
.head {
  color: #0d4608;
  text-align: center;
}
.blogcard {
  text-align: justify;
  font-weight: bold;
  font-size: 20px;
}
.blogcard1 {
  text-align: justify;
  color: #0d4608;
  margin-bottom: 0px;
  margin-top: -10px;
}
.btnstl {
  /* width: 10%;
    padding: 2px;
    margin-top: -25px; */
  float: right !important;
  background-color: white;
  color: #cc1224e0;
}
.btnst2 {
  margin-right: 6px !important;
  float: right !important;
  background-color: white;
  color: #12126f;
}
.productFullName {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 800px !important;
  overflow: hidden;
}
.a {
  text-indent: 20px;
  text-align: justify;
  padding: 10px;
}
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  color: #666;
  font-size: 0.9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}

.writeBlog {
  float: right;
  color: white;
  padding: 3px;
  background-color: #0d4608;
}

.viewmrebtn {
  float: right;
  color: #0d4608;
  padding: 3px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .hedngBox {
    font-size: 13px;
  }
  .btnmed {
    font-size: 13px;
  }
}
@media screen and (min-width: 990px) and (max-width: 1440px) {
  .btn1 {
    margin-top: 40px;
  }
}
