/* .text-small {
    font-size: 0.75rem;
  }
  .card{
      padding: 30px;
  } */
  /* .test{
    padding-left: 10px;  
    padding-right: 10px;
  } */

  /* .bg{
    background: url();
  } */

  .card{
    /* margin: 10px; */
   border-radius: 0px 20px;
   /*background-color: #23dfe8;
     background-color: rgb(252, 176, 59); */
   background-color: #032b31;
   height: 355px;
    /* width: 300px; */
    color: aliceblue;
  }
 
  .btnnn {
    width: 25%;
     display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .title{
    border-radius: 0px 20px 0px 20px;
    height: 45px;
    color: #dee2e6;
    padding-left: 30%;
    background-color: #23dfe8;  
  }
  .details{
    padding-top: 5px;
    color: #fff;
  }
  .card-body{
    font-size: 17px;
  }
  .no_deals_found{
    text-align: center;
    color: #f2f2f3;
    font-weight: bold;
    font-size: 18px
  }
  textarea{
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 30px;
    height: 50px;
  }
  .btn-primary{ 
    margin: auto;
    border-radius: 5px 5px 5px 5px  ;
  
    color: #fff;
    background-color: rgb(242, 101, 50);
    border: 1px solid  #9d0a18;
  }
  .btn-primary1{ 
    margin: auto;
    border-radius: 5px 5px 5px 5px  ;
    width: 100%;
    color: #fff;
    background-color: rgb(6, 75, 23);
    
  }
  .btn-primary:hover{
    border: 1px solid #04857e;
    background-color:  green;
  }
  /* .bg {
    background: url(./images/6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    background-attachment: fixed;
  } */
  .card-body{
    
  font-size: 17px;
  }
  tr{
    text-align: left;
  }
  table{
    margin: auto;
  }
 .srchBox{
  border-radius: 50px;
  border-color: #f26532;
 } 
 .icon{
  /* margin: auto; */
  background: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px; 
/*    
  font-weight: 400; */
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  float: right;
}

 .srchBox {
  background: white;
  border-left: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius:0px; 
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
}
.srchBox:focus {
  width: 200px;
}
.bg { 
  background: url(../../assets/Images/A3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: -webkit-fill-available;
}
.error_word{
  font-family: 'Cabin', sans-serif;
}
   .inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align glyph */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  
  @media only screen and (min-width: 320px) and (max-width:425px){
    .no_deals_found{
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 18px;
        margin-top:20%
    }
    .errDiv{
      background-color: white;
      box-shadow: 7px 7px 7px grey;
  }
   .onmobiviewpadding{
    padding: 10px;
   }
  }