
.nav_clr{
    background-color: #0d4608;
    
}
.loading{
  background-color: transparent;
}
.apptitle{
  font-family: 'Baloo Thambi', cursive;
}
ul li a {
  font-family: 'Ubuntu', sans-serif;
}
.dropdown .dropdown-menu{
  display: block; 
opacity:0;
-webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-ms-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
transition: all 200ms ease-in;
}
.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}
/* @media screen and (min-width: 320px) and (max-width:425px) {
  .dropdown:hover .dropdown-menu { 
    display: block;
  }
} */



