<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md fixed-top navbar-dark nav_clr">
  <!-- <a class="navbar-brand apptitle" routerLink="/">உழவர் சந்தை</a> -->
  <img src="../../assets/Images/logo2.png" routerLink="/" alt="logo">
  <a class="textAlign">
    <p class="every clr tamil_word hideMobile d-lg-block d-md-none d-none">
      ஏரின்றி அமையாது உலகு!
    </p></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <!-- <span class="tamil_word" >விற்க</span> /  -->
        <a class="nav-link " routerLink="/dealCategory" routerLinkActive="active"
          >Buy</a
        >
      </li>
      <li
      *ngIf="!_authService.loggedIn() || !_authService.findActive()"
      class="nav-item"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <!-- <span class="tamil_word" >விற்க</span> /  -->
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Sell</a
      >
    </li>
      <li
        *ngIf="!_authService.loggedIn()"
        class="nav-item"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <a
          class="nav-link"
          routerLink="/deals"
          (click)="trackMe()"
          routerLinkActive="active"
          >Deals</a
        >
      </li>
      <li
        *ngIf="!_authService.loggedIn()"
        class="nav-item"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ><!-- <span class="tamil_word" >வலைப்பதிவு</span> /  -->
        <a class="nav-link" routerLink="/blog-view" routerLinkActive="active"
          >Blog</a>
      </li>
      <li
      *ngIf="_authService.loggedIn()"
      class="nav-item"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ><!-- <span class="tamil_word" >வலைப்பதிவு</span> /  -->
      <a class="nav-link" routerLink="/blog" routerLinkActive="active"
        >Blog</a
      >
    </li>
      <li
        *ngIf="
          _authService.loggedIn() &&
          !_authService.roleAdmin() &&
          _authService.findActive() && !_authService.roleBuyer()
        "
        class="nav-item"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <a class="nav-link" routerLink="/products" routerLinkActive="active"
          >My Products</a
        >
      </li>
      <li
      *ngIf="
        _authService.loggedIn() &&
        !_authService.roleAdmin() &&
        _authService.findActive() && !_authService.roleBuyer()
      "
      class="nav-item"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <a class="nav-link" routerLink="/seller-order-requests" routerLinkActive="active"
        >Orders Requests</a
      >
    </li>
      <li
      *ngIf="
        _authService.loggedIn() &&
        !_authService.roleAdmin() &&
        _authService.findActive() && _authService.roleBuyer()
      "
      class="nav-item"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <a class="nav-link" routerLink="/my-order" routerLinkActive="active"
        >My Orders</a
      >
    </li>
      <li
      *ngIf="
        _authService.loggedIn() &&
        !_authService.roleAdmin() &&
        _authService.findActive() && _authService.roleBuyer()
      "
      class="nav-item"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <a class="nav-link" routerLink="/buyerAsSeller" routerLinkActive="active"
        >Sell on Uzhavar</a
      >
    </li>
      <li
        *ngIf="_authService.roleAdmin() && _authService.loggedIn()"
        class="nav-item"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <a class="nav-link" routerLink="/signup-request" routerLinkActive="active"
          >Signup request</a
        >
      </li>
      <li
      *ngIf="_authService.roleAdmin() && _authService.loggedIn()"
      class="nav-item"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <a class="nav-link" routerLink="/order-request" routerLinkActive="active"
        >Order request</a
      >
    </li>
      <li
        *ngIf="_authService.roleAdmin() && _authService.loggedIn()"
        class="nav-item"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <a class="nav-link" routerLink="/admin" routerLinkActive="active"
          >Admin</a
        >
      </li>
      <li
        *ngIf="_authService.roleAdmin() && _authService.loggedIn()"
        class="nav-item"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <a
          class="nav-link"
          routerLink="/admin"
          (click)="_authService.logoutUser()"
          routerLinkActive="active"
          >Logout</a>
      </li>
      <li
        *ngIf="_authService.loggedIn() && !_authService.roleAdmin()"
        class="nav-item dropdown"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <a
          class="nav-link d
          ropdown-toggle"
          style="cursor: pointer;"
          routerLinkActive="active"
          id="dropdown03"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >{{this._authService.getUserName()}} <i class="fa fa-caret-down" aria-hidden="true"></i></a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a
            class="dropdown-item"
            routerLink="/updateuser"
            style="cursor: pointer;color:#0d4608"
            >Edit Profile</a
          >
          <a
            class="dropdown-item"
            style="cursor: pointer;color:#0d4608"
            (click)="_authService.logoutUser()"
            >Logout</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<ngx-spinner>
  <div
    style="background-color: whitesmoke;margin-top:-80px;border-radius: 5px;"
  >
    <p
      style="color:#0d4608;font-weight: bold; font-family: 'Mukta', sans-serif;"
    >
      &nbsp;&nbsp;&nbsp;Please wait
      <img
        class="loading"
        width="50px"
        height="50px"
        src="./assets/Images/loader (2).gif"
      />
    </p>
  </div>
</ngx-spinner>
<footer class="footer uzhavarsanthaiFooter">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="footer-copyright text-center onmobviewalign" style="margin-top: 4%;float:left">
              © 2019 Copyright
              <a routerLink="/" class="EbrainTechnologies">உழவர் சந்தை</a
              >
            </div>
          </div>


      <!-- <div class="col-md-2 mt-1">
        <p class="footerOptions" routerLink="/contact">Contact Us</p>
      </div>
      <div class="col-md-2 mt-1">
        <p class="footerOptions" routerLink="/about">Privacy Policy</p>
      </div>
      <div class="col-md-2 mt-1">
        <p class="footerOptions" routerLink="/about">Terms Of Use</p>
      </div> -->
      <div class="col-lg-8 col-md-6 col-sm-12 col-12 textCenter float-right" style="margin-top: 1%;">
          <p class="onmobviewalign"  style="float: right;">
              <span class="footerOptions"
              >Want to be a seller ? <span style="text-decoration: underline" (click)="register()">SignUp</span> &nbsp;&nbsp; &nbsp;&nbsp;</span
            >
            <span class="footerOptions" routerLink="/about"
              >About Us &nbsp;&nbsp;|</span
            >
            <span class="footerOptions" routerLink="/contact"
              >&nbsp;&nbsp;Contact Us &nbsp;&nbsp;
              </span>
            <!-- <span class="footerOptions" routerLink="/about"
              >&nbsp;&nbsp;Privacy Policy &nbsp;&nbsp;|</span
            >
            <span class="footerOptions" routerLink="/about"
              >&nbsp;&nbsp;Terms Of Use</span
            > -->
          </p>
        </div>
    </div>
  </div>
</footer>
