.nav_clr {
  background-color: #0d4608;
}
.loading {
  background-color: transparent;
}
.apptitle {
  color: white !important;
  font-family: 'Baloo Thambi', cursive;
}
ul li a {
  font-family: 'Mukta', sans-serif;
}
.tamil_word {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.clr {
  color: white;
  text-align: center;
  margin: auto;
  margin-left: 100px;
}

.textAlign {
  margin-left: 20%;
}

@media screen and (min-width: 991px) and (max-width: 1150px) {
  .textAlign {
    margin-left: 10%;
  }
}

@media screen and (min-width: 768px) {
  .dropdown-menu {
    margin-left: -52px;
  }
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(246, 246, 246, 0.98);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.81);
}

.nav-link.active {
  color: white !important;
  font-weight: bold;
}

.uzhavarsanthaiFooter {
  background-color: #072904 !important;
  color: white;
}

.EbrainTechnologies {
  color: white !important;
  font-family: 'Hind Madurai', sans-serif;
}
.footer-copyright {
  font-family: 'Mukta', sans-serif;
}
.footerOptions {
  /* margin-top: 3% !important; */
  font-family: 'Mukta', sans-serif;
  cursor: pointer !important;
  text-align: center !important;
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .footerOptions {
    font-size: 13px;
    text-align: center !important;
  }
  .footer-copyright {
    font-size: 13px;
  }
  .textCenter {
    text-align: center !important;
  }
}

@media screen and (max-width: 424px) {
  .footerOptions {
    font-size: 12px;
    text-align: center !important;
  }
  .footer-copyright {
    font-size: 12px;
  }
  .textCenter {
    text-align: center !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footerOptions {
    font-size: 13px;
  }
  .footer-copyright {
    font-size: 13px;
  }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .onmobviewalign {
    float: none !important;
  }
}
