
 <div class="bg1">
    <div class="text-center container mb-5 mt-5 pt-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <h2 class="clr mb-5 mt-5">Post Your Product</h2>
            </div>
     </div>
        <form  *ngIf ="!submitted" (ngSubmit)="login()" novalidate>
     
        <div class="row">
          <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group mb-5 mt-2">
                    <input type="text"  #category="ngModel" [class.is-invalid]="category.invalid && category.touched" ngModel name="category" class="form-control"  autocomplete="off" required>
                    <label class="form-control-placeholder" for="category">Category</label>
                    <span class="text-danger float-left" [class.d-none] = "category.valid || category.untouched">Category is required</span>  
                  </div>
        </div> 
        <div class="col-md-4">    
                <div class="form-group mb-5 mt-2">
                  <input type="text"  #name="ngModel" [class.is-invalid]="name.invalid && name.touched" ngModel name="name" class="form-control"  autocomplete="off"  required>
                  <label class="form-control-placeholder" for="name">Product Name</label>
                  <span class="text-danger float-left" [class.d-none] = "name.valid || name.untouched">Product Name is required</span>  
                </div>
          </div>  
              </div>

              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <div class="form-group mb-5 mt-2">
                          <input type="text"  #quantity="ngModel" [class.is-invalid]="quantity.invalid && quantity.touched" ngModel name="quantity" class="form-control"  autocomplete="off"  required>
                          <label class="form-control-placeholder" for="quantity">Available Quantity</label>
                          <span class="text-danger float-left" [class.d-none] = "quantity.valid || quantity.untouched">Available Quantity is required</span>  
                        </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group mb-5 mt-2">
                          <input type="text"  #price="ngModel" [class.is-invalid]="price.invalid && price.touched" ngModel name="price" class="form-control"  autocomplete="off"  required>
                          <label class="form-control-placeholder" for="price">Price</label>
                          <span class="text-danger float-left" [class.d-none] = "price.valid || price.untouched">Price is required</span>  
                        </div>
                  </div>
              </div>

              <!-- 3rd row -->
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <div class="form-group mb-5 mt-2">
                          <input type="date"  #date="ngModel" [class.is-invalid]="date.invalid && date.touched" ngModel name="date" class="form-control"  autocomplete="off" required>
                          <!-- <label class="form-control-placeholder" for="date">Date</label> -->
                          <span class="text-danger float-left" [class.d-none] = "date.valid || date.untouched">Date is required</span>  
                        </div>
                  </div> 
                  </div>

                  <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-8">
                          <button class="btn mt-4 " type="submit" (click)="post()">SUBMIT</button>
                        </div>
               </div>
          </form>
              </div>
  </div>
