 .bg{
    margin-top: -25px;
    background: url(./images/386469511-H.jpg)no-repeat center ;
    height: 650px;
    background-size: cover;
    opacity: 0.9;
}
/*
.formm{
    margin-top: 50px;
}
.log{
    color:#095d26;
   padding-top: 70px;
   padding-right: 35%;
   font-weight: bold;
}
.col-form-label{
    color: #095d26;
    font-size: 20px;
    font-weight: bold;
  
}
.border{
    border: 1 solid black;
}
.sub{
  
    padding-left: 35%;
}
.btn {
    width: 150px;
    height: 40px;
    background-color: #095d26;
    color:floralwhite ;
    border: #095d26;
    font-weight: bold;
    font-size: 20px;
}
  */

  .input-group .form-control.added-padding-2 {
    padding-top: 4px;
}
.input-group .form-control.added-padding-3 {
    padding-top: 3px;
}
label{
    font-size: 17px;
    color:#010f04;
 font-weight: bold;   
}
h1{
    
color: #e1efe4;
}
input {
    background: rgba(255,255,255,0.4);
    border: none;
    position: relative;
    display: block;
    outline: none;
    margin: 0 auto;
    color: rgb(4, 124, 54);
}
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666; }