<div id='focusDiv' tabindex="1"></div>
<body class="bg1" style="overflow-x:hidden">
  <div class="text-center container onmobiview mt-1 mb-4">
      <div class="row">
          <div class="col-md-4">
              <nav>
                  <div class="nav nav-tabs " id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active tabTitle" style="margin-top: 20%;" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> </a>
                    <!-- <a class="nav-item nav-link button_word tabTitle"  style="margin-top: 20%;"  id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Multi Products <i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    <i class="fa fa-star-o" aria-hidden="true"></i> -->
                   </div>
                </nav>
           </div>
   </div>
   <div class="container mt-5"  id="idView">
      <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      </div>
      </div>
    </div>

    <br>
    <br>

      <form [formGroup]="carForm" class="card singlepost" novalidate (ngSubmit) = "onSubmit()">
        <p class="clr">Sell it simply and directly</p>
          <div class="row">
              <div class="col-md-4"></div>
            <div class="col-md-4 mb-3" *ngIf = "success" style="margin: auto">
              <div class="alert alert-success english_wrd">
                      {{success}}
              </div>
            </div>
          <div class="col-md-4"></div>
        </div>
          <div class="row" style="margin-top: 1%;">
              <div class="col-md-1"></div>
            <div class="col-md-5  mb-3">
               <label class="english_wrd" for="phone" ><span style="font-size: 14px" class="tamil_word"> பொருள் வகை </span>/ Category</label>
                <div class="form-group">
                    <select required class="form-control" formControlName="categoryId" name="categoryId">
                      <option class="opt" selected="" disabled="" value="" >Choose product category</option>
                        <option *ngFor="let val of categoryArr" class="tamil_word" value="{{val._id}}">{{val.productCategory}}</option>
                      </select>
                      <span class="text-danger float-left error_word errFont" *ngIf="carForm.controls.categoryId.invalid && carForm.controls.categoryId.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Category is required</span>
                </div>
                <!-- <div class="form-group" *ngIf="editId">
                      <select required class="form-control" formControlName="category" name="category">
                        <option class="opt" selected="" disabled="" value="" >Choose product category</option>
                          <option *ngFor="let val of categoryArr" class="tamil_word" value="{{val.productCategory}}">{{val.productCategory}}</option>
                        </select>
                      <span class="text-danger float-left error_word" *ngIf="carForm.controls.category.invalid && carForm.controls.category.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Category is required</span>
                    </div> -->
              </div>
            <div class="col-md-5 mb-3">
              <label class="english_wrd" for="phone" ><span style="font-size: 14px" class="tamil_word">கிடைக்குமிடம் </span>/ Available Place</label>
                <div class="form-group">
                      <input google-place type="text" placeholder="Enter your address"  [value]="carForm.value.avlPlace" formControlName="avlPlace" class="form-control" (onSelect)="setAddress($event)" name="avlPlace" required>
                      <span class="text-danger float-left error_word errFont" *ngIf="carForm.controls.avlPlace.invalid && carForm.controls.avlPlace.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Address is required</span>
                    </div>

                    <!-- <div class="form-group" *ngIf="editId">
                      <input google-place type="text" placeholder="Enter your address" value="{{avlPlace.formatted_address}}" formControlName="avlPlace" class="form-control" (onSelect)="setAddress($event)" name="avlPlace" required>
                      <span class="text-danger float-left error_word" *ngIf="carForm.controls.avlPlace.invalid && carForm.controls.avlPlace.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Address is required</span>
                    </div> -->
            </div>
          <div class="col-md-1"></div>
          </div>

          <div formArrayName="product">
              <div *ngFor="let item of product.controls; let i=index" formGroupName="{{i}}">

                <!-- First Row -->

              <div class="row ">
                  <div class="col-md-1"></div>
                    <div class="col-md-4  mb-3">
                      <label class="english_wrd postLble" for="phone" ><span style="font-size: 14px" class="tamil_word">பெயர் </span>/ Product Name</label>
                        <div class="form-group">
                          <input type="text" placeholder="Enter product name" formControlName="name" maxlength="50" name="name" class="form-control"  autocomplete="off"  required>
                          <!-- <span class="text-danger float-left error_word" *ngIf="carForm.controls.name.invalid && carForm.controls.name.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Product name is required</span> -->
                          <div *ngIf="(item.controls.name.dirty || item.controls.name.touched)">
                              <div class="text-danger float-left error_word errFont" *ngIf="item.hasError('required', 'name')"><i class="fa fa-info-circle" aria-hidden="true"></i>
                              Name is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="english_wrd postLble" for="phone" ><span style="font-size: 14px" class="tamil_word"> அளவு </span>/ Quantity</label>
                        <div class="form-group">
                            <input type="text"  placeholder="Enter product quantity" formControlName="quantity" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" name="quantity" class="form-control"  maxlength="5" autocomplete="off"  required>
                            <!-- <span class="text-danger float-left error_word" *ngIf="carForm.controls.quantity.invalid && carForm.controls.quantity.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Quantity is required</span> -->
                            <div *ngIf="item.controls.quantity.dirty || item.controls.quantity.touched">
                                <div class="text-danger float-left error_word errFont" *ngIf="item.hasError('required', 'quantity')"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                 Quantity is Required</div>
                              </div>
                          </div>
                    </div>
                  <div class="col-md-3 mb-3">
                    <label class="english_wrd" for="phone" ><span style="font-size: 14px" class="tamil_word">அலகு </span>/ Unit</label>
                      <div class="form-group">
                          <select required class="form-control" (select)="getunits()" placeholder="Choose unit" formControlName="qnty" name="qnty" (change)="getunits()">
                              <option class="prdtOption" selected="" disabled="" value="" >Choose product unit</option>
                              <option value="Ml" class="categoryOption">Milli litre</option>
                              <option value="Litre" class="categoryOption">Litre</option>
                              <option value="g" class="categoryOption">Gram</option>
                              <option value="Kg" class="categoryOption">Kilogram</option>
                            </select>
                            <!-- <span class="text-danger float-left error_word" *ngIf="carForm.controls.qnty.invalid && carForm.controls.qnty.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Unit is required</span> -->
                            <div *ngIf="item.controls.qnty.dirty || item.controls.qnty.touched">
                                <div class="text-danger float-left error_word errFont" *ngIf="item.hasError('required', 'qnty')"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                  Unit is Required</div>
                              </div>
                          </div>
                  </div>
                  <div class="col-md-1">
                  </div>
              </div>

              <!-- Second Row -->
              <div class="row ">
                  <div class="col-md-1"></div>
                    <div class="col-md-4  mb-3">
                      <label class="english_wrd postLble" for="phone" ><span style="font-size: 14px" class="tamil_word">விலை </span>/ Price / unit</label>
                        <div class="form-group">
                          <input type="text" placeholder="Enter price" formControlName="price" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" name="price" class="form-control"  autocomplete="off"  required>
                          <!-- <span class="text-danger float-left error_word" *ngIf="carForm.controls.price.invalid && carForm.controls.price.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Price is required</span> -->
                          <div *ngIf="item.controls.price.dirty || item.controls.price.touched">
                              <div class="text-danger float-left error_word errFont" *ngIf="item.hasError('required', 'price')"><i class="fa fa-info-circle" aria-hidden="true"></i>
                               Price is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="english_wrd postLble" for="phone"><span style="font-size: 14px" class="tamil_word">குறிப்பு </span>/ Description</label>
                        <div class="form-group">
                            <input type="text"  placeholder="Enter description" formControlName="description"  name="description" class="form-control" maxlength="500" autocomplete="off" >
                        </div>
                    </div>
                    <div class="col-md-3 mb-3" *ngIf="!editId">
                        <label class="english_wrd" for=""><span style="font-size: 14px" class="tamil_word">காலாவதி </span>/ Expiry</label>
                              <div class="form-group">
                                <input type="text" placeholder="Enter expiry date" name="validityTime" formControlName="validityTime" class="form-control" autocomplete="off"  bsDatepicker [minDate]="today" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"  required>
                                <!-- <span class="text-danger float-left error_word" *ngIf="carForm.controls.validityTime.invalid && carForm.controls.validityTime.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Expiration is required</span> -->
                                <div *ngIf="item.controls.validityTime.dirty || item.controls.validityTime.touched">
                                    <div class="text-danger float-left error_word" *ngIf="item.hasError('required', 'validityTime')"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                     Expiry Date is Required</div>
                                  </div>
                              </div>
                      </div>

                      <div class="col-md-3 mb-3" *ngIf="editId">
                        <label class="english_wrd" for=""><span style="font-size: 14px" class="tamil_word">காலாவதி தேதி </span>/ Expiry Date</label>
                              <div class="form-group">
                                <input type="text" placeholder="Enter expiry date" name="validityTime" formControlName="validityTime" class="form-control" autocomplete="off"  bsDatepicker [minDate]="today" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"  required>
                                <!-- <span class="text-danger float-left error_word" *ngIf="carForm.controls.validityTime.invalid && carForm.controls.validityTime.touched "><i class="fa fa-info-circle" aria-hidden="true"></i> Expiration is required</span> -->
                                <div *ngIf="item.controls.validityTime.dirty || item.controls.validityTime.touched">
                                    <div class="text-danger float-left error_word errFont" *ngIf="item.hasError('required', 'validityTime')"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                     Expiry Date is Required</div>
                                  </div>
                              </div>
                      </div>
                  <div class="col-md-1 d-sm-block d-none">
                    <div style="color:#0d4608;font-size:20px">
                      <a (click)="addSellingPoint()"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>&nbsp;&nbsp;
                      <a *ngIf="i != 0" class="text-danger" (click)="deleteSellingPoint(i)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                    </div>
                    </div>
              </div>

              <!-- Third row -->
              <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                      <div class="form-group">
                          <div class="upload-btn-wrapper">
                            <label for="image" class="english_wrd" ><span span style="font-size: 14px" class="tamil_word">படத்தை பதிவேற்றம் செய்யவும்</span> / Upload product image</label>
                            <input multiple type="file" class="upload" (change)="onFileChangeMulti($event)"
                             autocomplete="off" >
                          </div>
                     </div>
                  </div>
                  <div class="col-md-1 d-sm-none d-block">
                    <div style="color:#0d4608;font-size:20px">
                      <a (click)="addSellingPoint()"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>&nbsp;&nbsp;
                      <a *ngIf="i != 0" class="text-danger" (click)="deleteSellingPoint(i)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                    </div>
                    </div>
              </div>
      <hr>
              </div>
            </div>

            <div class="container mb-2" id="alreadyExist" style="display: none">
                    <div class="text-center">
                        <div *ngIf="nameEqual" class="text-danger error_word">
                          Product name <span class="text-success">"{{nameEqual}}"</span> already exist!
            </div></div></div>

            <div class="row">
                <div class="col-md-12" style="padding-bottom: 1%;">
                        <div class="text-center">
                         <button [disabled]= "!carForm.valid"  class="btn btn-outline-success text-center button_word" id="submitBtn" type="submit">Submit</button>&nbsp;
                         <button type="reset" class="btn button_word">Reset</button>
                          </div>
                    </div>
            </div>

        </form>

  </div>
</body>




<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title ">Product Image</h5>
          <button type="button" class="close"  data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
                <!-- <img src="{{arrayImage}}" height="250px" width= "100%" alt="Card image cap"> -->
                <ngx-slick-carousel class="carousel"
                #slickModal="slick-carousel"
                        [config]="slideConfig"
                        (init)="slickInit($event)">
                    <div ngxSlickItem *ngFor="let slide of arrayImage" class="slide">
                        <img src="{{ slide }}" alt="Card image" height="250px" width= "100%" class="viewImage">
                    </div>
                </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
