.bg1{
    
     background: url(./images/P2.jpeg)no-repeat center ;
     background-position: center center;
     background-repeat:  no-repeat;
     background-attachment: fixed;
     background-size:  cover;
     background-color: #999;
     width:100%;
     min-height: 900px;  
 }
 @media screen and (min-width: 320px) and (max-width: 425px) {
.bg1{
    min-height: 1300px; 
}
 }

 
  input[type=text], input[type=password] {
     width: 100%;
     display: inline-block;
     box-sizing: border-box;
 }
 
 input:focus{
     background-color: transparent;
     box-shadow: none;
     border: none;
 }
 
 select option {
     padding: 10px;
     /* margin: 40px; */
     width: 100px;
     background: rgba(0, 0, 0, 0.3);
     color: #fff;
     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
 }
 
 select:focus{
     background-color: transparent;
     box-shadow: none;
     border: none;
 }
 
 input{
     background-color: transparent;
     /* border: 1px solid #79828b; */
     border-bottom: 2px solid white !important;
     border-top: none !important;
     border-left: none !important;
     border-right: none !important;
 }
 
 select{
     background-color: transparent;
     /* border: 1px solid #79828b; */
     border-bottom: 2px solid white !important;
     border-top: none !important;
     border-left: none !important;
     border-right: none !important;
 }
 ::placeholder {
     color: white;
     opacity: 1; /* Firefox */
    
 }
 .btn1{
     float: left !important;
     width: 90px
     
 }
 .btn{
     font-size: 18px;
     background-color: white;
     /* color: white; */
     border: none;
     color: #0d4608;
     font-weight: bold;
     float: right;
 }
 
 .form-group {
     position: relative;
     margin-bottom: 1.5rem;
   }
   
   .form-control{
     color: white !important;
 }
 
 .slect{
     position: absolute;
     top: 0;
     padding: 7px 0 0 0px;
     transition: all 200ms;
     /* opacity: 0.5; */
     font-weight: 500;
     font-size: 17px;
     color: white;
 }
   .form-control-placeholder {
     position: absolute;
     top: 0;
     padding: 7px 0 0 13px;
     transition: all 200ms;
     /* opacity: 0.5; */
     left: -12px;
     font-weight: 500;
     font-size: 17px;
     color: white;
   }

   option{
    width: 100px;
   }
   
   .form-control:focus + .form-control-placeholder,
   .form-control:valid + .form-control-placeholder {
     font-size: 100%;
     transform: translate3d(0, -100%, 0);
     opacity: 1;
     color: rgb(255, 254, 254);
   }
  
   .clr{
       color: white;
       font-family: 'Oxygen', sans-serif;
   }
 
   .sent_font{
     font-family: cursive;
     font-weight: bold;
     color: white
   }
   .span_clr{
       text-decoration: underline
   }
   .english_wrd{
    font-family: 'Mukta', sans-serif;
  }
  .tamil_wrd{
    font-family: 'Hind Madurai', sans-serif; 
  }
  input {
    font-family: 'Nunito', sans-serif;
  }
  .button_word{
    font-family: 'Kanit', sans-serif;
  }
  .forMobiviewPost{
    margin-top: 6%;
  }

   @media screen and (min-width: 320px) and (max-width: 425px) {
       body{
           overflow: scroll;
       }
       .clr{
           font-size: 20px;
           margin-top: 10px;
       }
       .slect{
        font-size: 15px;
       }
       .form-control{
        font-size: 15px;  
       }
       .tamil_wrd{
        font-size: 15px;   
        font-family: 'Hind Madurai', sans-serif; 
       }
       .onmobiview{
           margin-top: 50px;
       }
       .forMobiviewPost{
           margin-top: -19%;
       }
   }
   .error_word{
    font-family: 'Cabin', sans-serif;
  }

 .floatinglabl {
    position:absolute;
    pointer-events:none;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  ::-webkit-input-placeholder {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 14px;
  }
  ::-moz-placeholder {
    font-size: 14px;
    font-family: 'Hind Madurai', sans-serif;
  }
  :-ms-input-placeholder {
    font-size: 14px;
    font-family: 'Hind Madurai', sans-serif;
  }
  ::placeholder {
    font-size: 14px;
    font-family: 'Hind Madurai', sans-serif;
  }
 .categoryOption{
     background-color: white !important;
     color: #0d4608 !important;
     font-weight: bold;
 }
 .upload {
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: none !important;
  }


