
<div class="bg" style="overflow: scroll;">

    <div class="mb-5 container mt-5 pt-1" >
  
      <h2 class="text-success text-center mt-5">WELCOME TO FARMERS MARKET !</h2>
  
  <div class="row mt-5">
        <div class="col-md-6">
            <div class="card border-success flex-md-row mb-4 shadow-sm h-md-250">
               <div class="card-body text-center">
                  <h4 class="d-inline-block mb-2 text-success mx-auto">Number of Registered Users</h4>
                  <!-- <h6 class="mb-0">
                     <a class="text-dark" href="#"></a>
                  </h6> -->
                  <!-- <div class="mb-1 text-muted small">Nov 11</div> -->
                  <h5 class="card-text mb-auto mx-auto mt-3 mb-5"><strong>{{length}}</strong></h5>
                  <button class="btn btn-outline-success btn-sm mt-3" routerLink="/admin-user">View Details</button>
               </div>
            </div>
         </div>
  
         <div class="col-md-6">
            <div class="card border-success flex-md-row mb-4 shadow-sm h-md-250">
               <div class="card-body text-center">
                  <h4 class="d-inline-block mb-2 text-success mx-auto">Number of Posted Product</h4>
                  <!-- <h6 class="mb-0">
                     <a class="text-dark" href="#"></a>
                  </h6> -->
                  <!-- <div class="mb-1 text-muted small">Nov 11</div> -->
                  <h5 class="card-text mb-auto mx-auto mt-3 mb-5"><strong>{{dealsLength}}</strong></h5>
                  <button class="btn btn-outline-success btn-sm mt-3" routerLink = "/admin-deals">View Details</button>
               </div>
               
            </div>
         </div>
  </div>
  
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card border-success flex-md-row mb-4 shadow-sm h-md-250">
           <div class="card-body text-center">
              <h4 class="d-inline-block mb-2 text-success mx-auto">Post based on IP address</h4>
              <!-- <h6 class="mb-0">
                 <a class="text-dark" href="#"></a>
              </h6> -->
              <!-- <div class="mb-1 text-muted small">Nov 11</div> -->
              <h5 class="card-text mb-auto mx-auto mt-3 mb-5"><strong></strong></h5>
              <button class="btn btn-outline-success btn-sm mt-3" routerLink = "/admin-ip">View Details</button>
           </div>
           
        </div>
     </div>
    <div class="col-md-3"></div>
  </div>
  <h4 class="mt-3 text-white">
    Click here to add category <button  class="btn btn-outline-success btn-sm" routerLink="/category">New Category</button>
  </h4>
    </div>
   
    </div>