<style>
    .pac-container {
      z-index: 10000 !important;
  }
</style>
<div id='focusDiv' tabindex="1"></div>
<body class="backgrd" style="margin-top: -2%;">
      <div class="container mainCntainer">
          <div class="row mt-md-5 pt-md-5 mt-sm-1 pt-sm-1 mt-5 pt-3 frstRow">
              <div class=" col-md-4 col-xs-6 first">
                      <button class="btn btn-outline-success text-center viewMoreBtn button_word" routerLink="/dealCategory"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                      <button id="hideFilterButton" (click)="getGoogleAddress()" class="btn btn-outline-success text-center mobiviewFilterBtn viewMoreBtn button_word" data-toggle="modal" style="width: auto;margin-left: 10px;" data-target="#myModal" ><i class="fa fa-filter" aria-hidden="true" ></i> Filter</button>
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-3 col-6 onmobiviewpadding mt-md-0 mt-2 one" id="hideSearchDiv">
                  <div class="inner-addon left-addon" >
                          <i class="fa fa-search glyphicon" aria-hidden="true"></i>
                          <input type="text" class="form-control searchBorder searchtop1" name="search" [(ngModel)]="queryString" (keyup)="case()" placeholder="Search product.." />
                  </div>
               </div>
               <div class="col-md-3 col-6 onmobiviewpadding topLoc mt-md-0 mt-2 one" id="hideSearchlocDiv">
                  <div class="inner-addon left-addon" >
                          <i class="fa fa-search glyphicon" aria-hidden="true"></i>
                          <input google-place type="text" class="form-control searchBorder"  [(ngModel)]="getLocationDeals" (keyup)="adrsChange()" (onSelect)="setAddress($event)" placeholder="Search location.." />
                      </div>

               </div>
               <!-- <div class="col-md-1 one">
                   <i class="fas fa-undo pt-2" style="display: none" id="backToAll" (click)="gotoBck()" ></i>
                  </div> -->
               <div class="stunning-header stunning-header-bg-green mt-5 mt-md-3 mb-md-0 mb-1 two" id="hideSelectedCategory">
                      <div class="stunning-header-content" >
                           <ul class="breadcrumbs" style=" list-style-type: none;cursor: pointer;color:#072304;margin-left: -25px;margin-bottom: -10px;">
                              <li class="breadcrumbs-item" ><span routerLink="/dealCategory" style="outline:none" >Category</span>&nbsp;<i class="fa fa-arrow-right" style="font-weight: normal;"></i>&nbsp;<span class="printCategory">{{getCategory}}</span></li>
                          </ul>
                      </div>
                  </div>
          </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 mt-md-0 mt-4">
                    <button class="btn btn-outline-success float-right text-center viewMoreBtn button_word viewAll" style="display: none" id="backToAll" (click)="gotoBck()">
                         View all</button>
                </div>
            </div>
          <div *ngIf="errMsg" class=" mt-5" style="margin-bottom: 7%">
              <div class="col-md-3 col-lg-4 col-12"></div>
              <div class="col-md-6 col-lg-4 col-12 errDesign">
                  <img src="../../assets/Images/empty_cart_retina.png" class="imgRes" style="margin-top: 40px;" alt="cart">
                  <p class="mt-4">Oops! Currently no deals available in <br>"<font class="tamil_word" style="color: #f53636;font-style: italic">{{getCategory}}</font> " category
                      </p>
              </div>
              <div class="col-md-3 col-lg-4 col-12"></div>
      </div>
      <div *ngIf="errMsg1" class="mt-3" style="margin-bottom: 7%">
              <div class="col-md-3 col-lg-4 col-12"></div>
              <div class="col-md-6 col-lg-4 col-12 errDesign">
                  <img src="../../assets/Images/empty_cart_retina.png" class="imgRes" alt="cart">
                  <p class="mt-4">Oops! No products available from
                       <font *ngIf="addr.locality" style="color: #f53636;font-style: italic">"{{addr.locality}}"</font>
                       <font *ngIf="!addr.locality" style="color: #f53636;font-style: italic">"{{addr.formatted_address}}"</font>
                      </p>
                  <p (click)="reset()" style="cursor: pointer;text-decoration: underline">Go to back</p>
              </div>
              <div class="col-md-3 col-lg-4 col-12"></div>
          </div>
          <div *ngIf="errMsgSec" class="mt-3" style="margin-bottom: 6%">
                  <div class="col-md-3 col-lg-4 col-12"></div>
                  <div class="col-md-6 col-lg-4 col-12 errDesign">
                      <img src="../../assets/Images/empty_cart_retina.png" class="imgRes" alt="cart">
                      <p class="mt-4">Oops! No products available based on your search.</p>
                      <p (click)="reset()" style="cursor: pointer;text-decoration: underline">Go to back</p>
                  </div>
                  <div class="col-md-3 col-lg-4 col-12"></div>
              </div>
          <div *ngIf="showDeals">
                  <div class="mt-5" *ngFor = "let deal of singleMultiArray | filterdata: queryString  : 'name'">
                       <div *ngIf="errMsg2 && !errMsgSec">
                      <div *ngIf="deal === -1" style="margin-bottom: 6%">
                          <div class="col-md-3 col-lg-3 col-12"></div>
                          <div class="col-md-6 col-lg-6 col-12 errDesign">
                              <img src="../../assets/Images/empty_cart_retina.png" class="imgRes" alt="cart">
                              <p class="mt-4">Oops! Currently your searched product "<font style="color: #f53636;font-style: italic">
                                  {{queryString}}</font>" is unavailable.</p>
                              <a (click)="reset1()" style="cursor: pointer;text-decoration: underline">Go to back</a>
                          </div>
                          <div class="col-md-3 col-lg-3 col-12"></div>
                      </div>
                  </div>
                      </div>
              <div class="row " id="hideifNoData" style="margin-top: -20px;">
                      <div class="col-md-6 col-lg-3 col-12 col-sm-6"  *ngFor = "let deal of singleMultiArray  | filterdata: queryString  : 'name' | paginate: {id: 'foo1', itemsPerPage:40,currentPage:e },let i = index">
                              <div class="card card-1 cardRes" (click)="goToView(deal)" *ngIf="deal !== -1">
                                      <img src="{{deal.image}}" class="zoom" alt="uzhavarsanthai" height="150px" style="margin-bottom: 10px;">
                                         <table class="tableContent" style="margin: 5px;">
                                                <tr *ngIf="!deal.bulk">
                                                        <!-- <td><strong>Product &nbsp; </strong></td>
                                                        <td>:</td> -->
                                                        <div class="productFullName" style="font-weight: bold;font-size: 14px;">{{deal.name}}</div>
                                                    </tr>
                                                    <tr *ngIf="deal.bulk">
                                                            <!-- <td><strong>Product &nbsp; </strong></td>
                                                            <td>:</td> -->
                                                            <div class="productFullName">{{deal.category}}</div>
                                                    </tr>
                                                       <div class="row" *ngIf="!deal.bulk">

                                                      <div class="col-md-5 col-sm-6 col-6">
                                                        <tr>
                                                           <!-- <td><strong>Quantity &nbsp;</strong></td>
                                                           <td>:</td> -->
                                                           <td>{{deal.quantity}}  {{deal.qnty}}</td>
                                                       </tr>
                                                      </div>
                                                      <div class="col-md-7 col-sm-6 col-6" style="text-align: -webkit-right;">
                                                              <tr>
                                                                   <!-- <td><strong>Price &nbsp; </strong></td>
                                                                   <td>:</td> -->
                                                                   <td><i class="fa fa-inr" aria-hidden="true"></i> {{deal.price}}/{{deal.qnty}}</td>
                                                                </tr>
                                                             </div>
                                                      </div>
                                                       <tr>
                                                          <!-- <td><strong>Location &nbsp;</strong></td>
                                                          <td>:</td> -->
                                                          <div  *ngIf="deal.avlPlace.locality" class="productFullName">{{deal.avlPlace.locality}}</div>
                                                       <div *ngIf="!deal.avlPlace.locality" class="productFullName">{{deal.avlPlace.formatted_address}}</div> 
                                                       </tr>
                                             </table>
                                             <br>
                                         <button type="button" style="margin-top:-12px;margin-bottom:-12px" class="btn btn-outline-success text-center viewMoreBtn btnHide" (click)="goToView(deal)">View More</button>
                                         <br>
                                    </div>
                      </div>
                  </div>
                  <div class="mx-auto" id="hidePagination" >
                          <pagination-controls id="foo1"  class="ngx-pagination" style="margin-right: 30px;" (pageChange)="e=$event" maxSize="5"></pagination-controls>
                        </div>
          </div>
          <div *ngIf="!showDeals" style="margin-top: -20px;">
                  <div class="mt-5" *ngFor = "let deal of totalDeals1 | filterdata: queryString  : 'name'">
                          <div *ngIf="!errMsg1 && !errMsgSec">
                                  <div *ngIf="deal === -1" style="margin-bottom: 6%">
                                      <div class="col-md-3 col-lg-3 col-12"></div>
                                      <div class="col-md-6 col-lg-6 col-12 errDesign">
                                          <img src="../../assets/Images/empty_cart_retina.png" class="imgRes" alt="cart">
                                          <p class="mt-4">Oops! Currently your searched product "<font style="color: #f53636;font-style: italic">
                                                  {{queryString}}</font>" is unavailable.</p>
                                              <a (click)="reset1()" style="cursor: pointer;text-decoration: underline">Go to back</a>
                                      </div>
                                      <div class="col-md-3 col-lg-3 col-12"></div>
                                  </div>
                          </div>
                      </div>
                  <p class="no_deals_found error_word" *ngIf="errMsg">{{errMsg}}</p>
                  <div class="row mt-3" id="hideifData">
                         <div class="col-md-6 col-lg-3 col-12 col-sm-6"  *ngFor = "let deal of totalDeals1  | filterdata: queryString  : 'name'| paginate: {id: 'foo', itemsPerPage:40,currentPage:p },let i = index">
                              <div class="card card-1 cardRes" (click)="goToView(deal)" *ngIf="deal !== -1">
                                      <img src="{{deal.image}}" alt="uzhavarsanthai" height="150px" style="margin-bottom: 10px;">
                                      <table class="tableContent" style="margin: 5px;">
                                            <tr *ngIf="!deal.bulk">
                                                    <!-- <td><strong>Product &nbsp; </strong></td>
                                                    <td>:</td> -->
                                                    <div class="productFullName" style="font-weight: bold;font-size: 14px;">{{deal.name}}</div>
                                                </tr>
                                                <tr *ngIf="deal.bulk">
                                                        <!-- <td><strong>Product &nbsp; </strong></td>
                                                        <td>:</td> -->
                                                        <div class="productFullName">{{deal.category}}</div>
                                                    </tr>

                                                   <div class="row" *ngIf="!deal.bulk">

                                                  <div class="col-md-6 col-sm-6 col-6">
                                                    <tr>
                                                       <!-- <td><strong>Quantity &nbsp;</strong></td>
                                                       <td>:</td> -->
                                                       <td>{{deal.quantity}}  {{deal.qnty}}</td>
                                                   </tr>
                                                  </div>
                                                  <div class="col-md-6 col-sm-6 col-6" style="text-align: -webkit-right;">
                                                          <tr>
                                                               <!-- <td><strong>Price &nbsp; </strong></td>
                                                               <td>:</td> -->
                                                               <td><i class="fa fa-inr" aria-hidden="true"></i> {{deal.price}}.00/{{deal.qnty}}</td>
                                                            </tr>
                                                         </div>
                                                  </div>
                                                   <tr>
                                                      <!-- <td><strong>Location &nbsp;</strong></td>
                                                      <td>:</td> -->
                                                      <div *ngIf="deal.avlPlace.locality" class="productFullName">{{deal.avlPlace.locality}}</div>
                                                      <div *ngIf="!deal.avlPlace.locality" class="productFullName">{{deal.avlPlace.formatted_address}}</div>
                                                   </tr>
                                         </table>
                                         <br>
                                         <button type="button" style="margin-top:-12px;margin-bottom:-12px" class="btn btn-outline-success text-center viewMoreBtn btnHide" (click)="goToView(deal)">View More</button>
                                         <br>
                                    </div>
                            </div>
                          </div>
                          <div class="mx-auto" id="hidePagination1" >
                                  <pagination-controls id="foo" class="ngx-pagination" style="margin-right: 30px;" (pageChange)="p=$event" maxSize="5"></pagination-controls>
                                </div>
                      </div>
            </div>
        <div class="second" style="display: none">
        <button class="float1" style="float:left" id="hideFilterButton1"  routerLink="/dealCategory"><i class="fa fa-arrow-left"></i> </button>
        <button id="hideFilterButton2" style="float:right;outline: none;" (click)="getGoogleAddress()" class="float" data-toggle="modal"  data-target="#myModal" > <i class="fa fa-filter "></i></button>
        </div>
</body>
<div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
              <div class="modal-header headingTitle">
                      <h4 class="modal-title clr">Search Products</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
          <div class="modal-body">
                  <form #searchform="ngForm" *ngIf ="!submitted" novalidate>
                          <div class="row">
                                  <!-- <div class="col-md-12">
                                 <label style="color: black;font-weight: bold;" class="english_wrd"> Location</label>
                                 <input google-place type="text" id="searchLocation" placeholder="Search location" class="form-control addressplhldr" #searchLocation="ngModel"  ngModel  name="searchLocation" (onSelect)="setAddress($event)"  [(ngModel)]="userdetails.searchLocation">
                                  </div> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="color: black;font-weight: bold;" class="english_wrd"> Min - Quantity</label>
                                    <input type="text" #searchmainquantity="ngModel"  ngModel  name="searchmainquantity" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control mobmargintop"  placeholder="Enter quantity" style="background-color: transparent;color: black; font-family: 'Mukta', sans-serif;"  [(ngModel)]="userdetails.searchmainquantity">
                                  </div>
                              </div>
                            <div class="col-md-6 mobviewmargin">
                                <div class="form-group">
                                    <label style="color: black;font-weight: bold;" class="english_wrd"> Unit</label>
                                    <select  class="form-control mobmargintop" style="background-color: transparent;color: #0d4608;"  #searchqnty="ngModel" name="searchqnty" [class.is-invalid]="searchqnty.invalid && searchqnty.touched" ngModel [(ngModel)]="userdetails.searchqnty">
                                          <option style="color: black" value="" disabled >Choose unit..</option>
                                          <option style="color: black" value="Ml">Milli litre</option>
                                          <option style="color: black" value="L">Litre</option>
                                          <option style="color: black" value="g">Gram</option>
                                          <option style="color: black" value="Kg">Kilogram</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="color: black;font-weight: bold;" class="english_wrd">Price Range - Min</label>
                                    <input type="text" #frmAmt="ngModel"  ngModel  name="frmAmt" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control mobmargintop"  placeholder="Enter min price" style="background-color: transparent;color: black; font-family: 'Mukta', sans-serif;"  [(ngModel)]="userdetails.frmAmt">
                                </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="form-group">
                                      <label style="color: black;font-weight: bold;" class="english_wrd"> Max</label>
                                      <input type="text" #toCost="ngModel" ngModel  name="toCost" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control mobmargintop"  placeholder="Enter max price" style="background-color: transparent;color: black; font-family: 'Mukta', sans-serif;margin-bottom: 2px;"  [(ngModel)]="userdetails.toCost">
                                  </div>
                                 </div>
                          </div>
                          <div class="text-center">
                              <button type="submit"  class="btn btn-outline-success text-center viewMoreBtn"   (click)="filterDeal()" data-dismiss="modal"> <i class="fa fa-search glyphicon" aria-hidden="true"></i> Search</button>
                          </div>
                        </form>
          </div>
        </div>
      </div>
    </div>
    <button (click)="topFunction()" class="scrollbtn" id="myBtn" title="Go to top"><i class="fa fa-chevron-up"></i></button>
