<style>
      .pac-container {
        z-index: 10000 !important;
    }
</style>
<body class="backgrd">
        <div class="container mainCntainer">
            <div class="row mt-5 pt-5">
                <div class="col-md-4 col-xs-6">
                        <button class="btn btn-outline-success text-center viewMoreBtn button_word" routerLink="/dealCategory"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                        <button id="hideFilterButton" (click)="getGoogleAddress()" class="btn btn-outline-success text-center mobiviewFilterBtn viewMoreBtn button_word" data-toggle="modal" style="width: auto;margin-left: 10px;" data-target="#myModal" ><i class="fa fa-filter" aria-hidden="true" ></i> Filter</button>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-6 onmobiviewpadding mt-md-0 mt-2" id="hideSearchDiv">
                        <div class="inner-addon left-addon">
                                <i class="fa fa-search glyphicon" aria-hidden="true"></i>
                                <input type="text" class="form-control searchBorder"  [(ngModel)]="queryString" (keyup)="case()" placeholder="Search by product name.." />

                              </div>
                     </div>

            </div>
            <div class="errDiv">
                <p class="no_deals_found error_word" *ngIf="errMsg">{{errMsg}}</p>
        </div>

        <div class="col-md-12" style="margin-top: 2%;" id="hideSelectedCategory">
            <p>Your selected category is : <span class="printCategory">{{getCategory}}</span></p>
        </div>
            <div *ngIf="showDeals">
                <div class="row mt-3" id="hideifNoData">
                        <div class="col-md-6 col-lg-3 col-12 col-sm-6"  *ngFor = "let deal of totalDeals |paginate: {id: 'foo1', itemsPerPage:6,currentPage:e } | filterdata: queryString  : 'name'">
                          <div class="row" *ngIf="deal === -1" style="margin-left:auto;margin-right:auto;text-align:center">
                            <div class="col-md-12">
                              {{errMsg1}}
                            </div>
                          </div>
                                <div class="card" *ngIf="deal !== -1">
                                        <img src="{{deal.image}}" alt="uzhavarsanthai" height="150px" style="margin-bottom: 10px;">
                                        <table class="tableContent">
                                            <tr>
                                                <td><strong>Product &nbsp; </strong></td>
                                                <td>:</td>
                                                <div class="productFullName">&nbsp;&nbsp;{{deal.name}}</div>
                                            </tr>
                                               <tr>
                                                    <td><strong>Price &nbsp; </strong></td>
                                                    <td>:</td>
                                                    <td>&nbsp;&nbsp;Rs.{{deal.price}}/-</td>
                                                 </tr>
                                                <tr>
                                                   <td><strong>Quantity &nbsp;</strong></td>
                                                   <td>:</td>
                                                   <td>&nbsp;&nbsp;{{deal.quantity}}  {{deal.qnty}}</td>
                                               </tr>
                                               <tr>
                                                   <td><strong>Location &nbsp;</strong></td>
                                                   <td>:</td>
                                                   <div class="productFullName">&nbsp;&nbsp;{{deal.avlPlace.locality}}</div>
                                                </tr>
                                               <br>
                                           </table>
                                           <button type="button" class="btn btn-outline-success text-center viewMoreBtn"  routerLink= "/viewmore/{{deal._id}}">View More</button>
                                           <br>
                                      </div>

                        </div>
                    </div>
                    <div class="mx-auto" id="hidePagination" >
                            <pagination-controls id="foo1" class="ngx-pagination" (pageChange)="e=$event"></pagination-controls>
                          </div>
            </div>

            <div *ngIf="!showDeals">
                    <p class="no_deals_found error_word" *ngIf="errMsg">{{errMsg}}</p>
                    <div class="row mt-3" id="hideifData">
                           <div class="col-md-6 col-lg-3 col-12 col-sm-6"  *ngFor = "let deal of totalDeals1 | paginate: {id: 'foo', itemsPerPage:6,currentPage:p } | filterdata: queryString  : 'name'">
                             <div class="row" *ngIf="deal === -1" style="margin-left:auto;margin-right:auto;text-align:center">
                               <div class="col-md-12">
                                 {{errMsg1}}
                               </div>
                             </div>
                                <div class="card" *ngIf="deal !== -1">
                                        <img src="{{deal.image}}" alt="uzhavarsanthai" height="150px" style="margin-bottom: 10px;">
                                        <table class="tableContent">
                                            <tr>
                                                <td><strong>Product &nbsp; </strong></td>
                                                <td>:</td>
                                                <div class="productFullName">&nbsp;&nbsp;{{deal.name}}</div>
                                            </tr>
                                               <tr>
                                                    <td><strong>Price &nbsp; </strong></td>
                                                    <td>:</td>
                                                    <td>&nbsp;&nbsp;Rs.{{deal.price}}/-</td>
                                                 </tr>
                                                <tr>
                                                   <td><strong>Quantity &nbsp;</strong></td>
                                                   <td>:</td>
                                                   <td>&nbsp;&nbsp;{{deal.quantity}}  {{deal.qnty}}</td>
                                               </tr>
                                               <tr>
                                                   <td><strong>Location &nbsp;</strong></td>
                                                   <td>:</td>
                                                   <div class="productFullName">&nbsp;&nbsp;{{deal.avlPlace.locality}}</div>
                                               </tr>
                                               <br>
                                           </table>
                                           <button type="button" class="btn btn-outline-success text-center viewMoreBtn" (click)="goToView(deal._id)">View More</button>
                                           <br>
                                      </div>

                              </div>
                            </div>
                            <div class="mx-auto" id="hidePagination" >
                                    <pagination-controls id="foo" class="ngx-pagination" (pageChange)="p=$event"></pagination-controls>
                                  </div>
                        </div>

              </div>
</body>

<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
                <div class="modal-header headingTitle">
                        <h4 class="modal-title clr">Search Products</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
            <div class="modal-body">
                    <form #searchform="ngForm" *ngIf ="!submitted" novalidate>
                            <div class="row">
                                    <div class="col-md-12">
                                   <label style="color: black;font-weight: bold;" class="english_wrd"> Location</label>
                                   <input google-place type="text" id="searchLocation" placeholder="Search location" class="form-control addressplhldr" #searchLocation="ngModel"  ngModel  name="searchLocation" (onSelect)="setAddress($event)"  [(ngModel)]="userdetails.searchLocation">
                                    </div>
                              <div class="col-md-6" style="margin-top: 3%;">
                                  <div class="form-group">
                                      <label style="color: black;font-weight: bold;" class="english_wrd"> Min - Quantity</label>
                                      <input type="text" #searchmainquantity="ngModel"  ngModel  name="searchmainquantity" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control"  placeholder="Enter quantity" style="background-color: transparent;color: black; font-family: 'Mukta', sans-serif;"  [(ngModel)]="userdetails.searchmainquantity">
                                    </div>
                                </div>
                              <div class="col-md-6" style="margin-top: 3%;">
                                  <div class="form-group">
                                      <label style="color: black;font-weight: bold;" class="english_wrd"> Unit</label>
                                      <select  class="form-control" class="form-control"  style="background-color: transparent;color: black;"  #searchqnty="ngModel" name="searchqnty" [class.is-invalid]="searchqnty.invalid && searchqnty.touched" ngModel [(ngModel)]="userdetails.searchqnty">
                                            <option style="color: black" value="" disabled >Choose unit..</option>
                                            <option style="color: black" value="Kg">Kg</option>
                                            <option style="color: black" value="Litre">Ltre</option>
                                        </select>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label style="color: black;font-weight: bold;" class="english_wrd">Price Range - Min</label>
                                      <input type="text" #frmAmt="ngModel"  ngModel  name="frmAmt" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control"  placeholder="Enter min price" style="background-color: transparent;color: black; font-family: 'Mukta', sans-serif;"  [(ngModel)]="userdetails.frmAmt">
                                  </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color: black;font-weight: bold;" class="english_wrd"> Max</label>
                                        <input type="text" #toCost="ngModel" ngModel  name="toCost" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control"  placeholder="Enter max price" style="background-color: transparent;color: black; font-family: 'Mukta', sans-serif;"  [(ngModel)]="userdetails.toCost">

                                    </div>
                                   </div>
                            </div>
                            <div class="text-center">
                                <button type="submit"  class="btn btn-outline-success text-center viewMoreBtn"   (click)="filterDeal()" data-dismiss="modal">Search</button>
                            </div>
                          </form>
            </div>

          </div>

        </div>
      </div>
