<body class="bg" style="overflow-x: hidden;">
    <div class="container card">
      <p class="myticketsHead">Ticket Information</p>
      <div class="col-md-12" style="background-color: #d3d3d35c !important;">
        <p class="mytickets" routerLink="/my-tickets">MY TICKETS&nbsp;> <span style="font-size:17px!important">{{ticketId}}</span></p>
        <p class="ticketsstate" [ngStyle]="{'color': ticketStatus === 'Open' ? '#0d4608' : 'red' }">{{ticketStatus}}</p>
      </div>
      <div class="col-md-12">
        <p class="myticketstwo">{{ticketDate | date}} - {{ticketTitle}}</p>
      </div>
    <hr style="margin-top: -10px;">
    <p [ngStyle]="{'display':ticketStatus == 'Created' ? 'block' : 'none' }" class="myticketsone">This ticket is <b [ngStyle]="{'color': ticketStatus === 'Created' ? '#0d4608' : 'red' }">{{ticketStatus}}</b>, we will get back to you soon !</p>
    <p [ngStyle]="{'display':ticketStatus == 'Resolved' ? 'block' : 'none' }" class="myticketsone">This ticket is <b [ngStyle]="{'color': ticketStatus === 'Created' ? '#0d4608' : 'red' }">{{ticketStatus}}</b>, please <a style=" color: #0d4608;text-decoration: underline;" routerLink="/my-tickets">open a new ticket.</a></p>
    <hr style="margin-top: -10px;">
    <p class="myticketsone">{{ticketDescrip}}</p>
    </div>

</body>
