.bg1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: whitesmoke;
  width: 100%;
  min-height: -webkit-fill-available;
  /* height: 104vh; */
  /* height: fit-content; */
}

::placeholder{
  font-size: 13px !important;
}

i{
  font-size: 13px;
  /* outline: none !important; */
}

/* button {
  outline: none !important;
  } */

@media only screen and (min-width: 1023px) and (max-width: 1330px) {
  .bg1 {
    height: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .btnEdit {
    margin-left: -18px;
  }
  .btnDlt {
    margin-left: -14px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 451px) {
  .bg1 {
    height: fit-content;
  }
  .icon {
    font-size: 20px !important;
  }
  .btnDlt {
    margin-left: -10px;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}
.blogTitle {
  color: #0d4608;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif !important;
  font-size: 20px;
  font-weight: bold;
}

.styl{
  /* margin-top: 25px; */
  color: #0d4608;
  font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,serif;
  font-weight: bold;
  text-align: left;
}

.float {
  float: right;
}

.blgtitle {
  font-family: 'Hind Madurai', sans-serif !important;
  font-weight: bold;
}
.viewMoreBtn {
  color: #0d4608 !important;
  border: 2px solid #0d4608;
  background-color: white;
  font-weight: bold;
}

.noBlog {
  font-weight: bold;
  font-size: 16px;
  /* color: #0d4608; */
}

label{
  font-size: 14px !important;
}

input {
  font-family: 'Hind Madurai', sans-serif !important;
}
textarea {
  font-family: 'Hind Madurai', sans-serif !important;
}
.productFullName {
  font-family: 'Hind Madurai', sans-serif !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 800px !important;
  overflow: hidden;
  font-size: 15px !important;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .hedngBox {
    font-size: 13px;
  }
  .btnmed {
    font-size: 13px;
  }
  .prd3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px !important;
    overflow: hidden;
  }
  .container{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .cardPad{
    padding: 15px !important;
  }
}
@media screen and (min-width: 990px) and (max-width: 1440px) {
  .prdctFlNme1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 850px !important;
    overflow: hidden;
  }
}
@media screen and (min-width: 426px) and (max-width: 475px) {
  .prd3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px !important;
    overflow: hidden;
  }
}
@media screen and (min-width: 476px) and (max-width: 767px) {
  .prd3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px !important;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .prd2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 650px !important;
    overflow: hidden;
  }
}
.btnstl {
  background-color: transparent;
  color: #0d4608;
  font-weight: bold;
  outline: none !important;
  /* border: none; */
}
.collapse {
  font-family: 'Hind Madurai', sans-serif !important;
}
.btnmed {
  font-family: 'Hind Madurai', sans-serif !important;
  background-color: whitesmoke;
  color: #0d4608;
  font-weight: bold;
  border: 1px solid #0d4608;
}

.cardBorder {
  border-radius: 0px;
}

.card-header {
  border-bottom: none;
}
.btnClr {
  border: 2px solid #0d4608;
  color: #0d4608;
  background-color: white;
  font-weight: bolder;
}

.btnClr:hover {
  background-color: #0d4608;
  color: white;
}

.btnDanger {
  border: 2px solid #dc3545;
  color: #dc3545;
  background-color: white;
  font-weight: bolder;
}

.btnDanger:hover {
  background-color: #dc3545;
  color: white;
}
.button_word {
  font-family: 'Kanit', sans-serif;
}