@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

.ngx-pagination a {
  border: 1px solid #0d4608;
  background-color: #d3efe680;
}
.black-overlay {
  position: fixed !important;
}
.la-ball-scale-multiple {
  color: transparent !important;
}
.modal-header {
  background-color: white;
  color: #0d4608;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.ngx-pagination a {
  border: 1px solid #0d4608;
  background-color: #d3efe680;
}

.slick-dots {
  display: none !important;
}

.ngx-pagination {
  position: sticky;
  bottom: 0;
  overflow: hidden;
  justify-content: center;
  display: flex;
  /* margin-top: 15px; */
}

.nav-link:active {
  color: white !important;
  font-weight: bold;
}

dl,
ol {
  margin-left: -35px !important;
}
.ngx-pagination a,
.ngx-pagination button {
  cursor: pointer;
  display: inline-flex !important;
}
.ngx-pagination .disabled {
  padding: 2px !important;
  color: #0d4608 !important;
  cursor: default;
  font-size: 100%;
  border-radius: 10px !important;
  display: inline-flex !important;
}
.ngx-pagination .current {
  background: #0d4608 !important;
  color: #fefefe;
  display: block;
  /* padding: 5rem 5rem; */
  padding: 0.01rem 0.35rem !important;
  height: 26px !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  font-size: 100%;
}
.ngx-pagination a,
.ngx-pagination button {
  color: black !important;
  display: block;
  padding: 0.01rem 0.35rem !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  font-size: 100%;
}

.ngx-pagination li {
  margin-right: 5px !important;
}

/* @media only screen and (min-width: 320px) and (max-width: 425px) {
  .ngx-pagination .current {
    font-size: 50%;
    padding: 0.25rem 0.25rem !important;
  }
  .ngx-pagination a {
    font-size: 7px !important;
    padding: 0.1875rem 0.25rem !important;
  }
  .ngx-pagination .disabled {
    font-size: 70%;
  }
} */

.sweet-alert {
  width: 400px !important;
}

.sa-custom {
  width: 300px !important;
  height: 79px !important;
  margin-top: -10px !important;
}

.sweet-alert p {
  font-family: 'Mukta', sans-serif !important;
  line-height: unset !important;
}

.sweet-alert h2 {
  font-family: 'Mukta', sans-serif !important;
  color: #0d4608 !important;
  font-size: 27px !important;
  margin-top: -35px !important;
}

.sweet-alert button {
  background-color: #0d4608 !important;
  padding: 6px 20px !important;
}

.modelBtn {
  padding: 0rem 0.5rem !important;
}

.fntSize {
  font-size: 18px !important;
  font-weight: bold !important;
}

.x {
  font-weight: 400 !important;
}

.errFont{
  font-size: 13px !important;
}