@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.ngx-pagination a{
  border: 1px solid red;
  background-color: #d3efe680;

}
.black-overlay {
  position:fixed !important;
}
.la-ball-scale-multiple {
  color: transparent !important;
}
.ngx-pagination{
  position: sticky;
  bottom: 0;
  overflow: hidden;
  justify-content: center;
  display: flex;
}
 dl, ol, ul {
  margin-left: -35px !important;
  } 
.ngx-pagination .disabled {
    padding: 0px !important;
    color: #0d4608 !important;
    cursor: default;
    font-size: 100%;
    /* border: 1px solid red; */
    /* background-color: #d3efe680; */
    border-radius: 5px !important;
}
  .ngx-pagination .current{
    padding: 0.1875rem 0.625rem;
    background: #0d4608 !important;
    color: #fefefe;
    cursor: default;
    font-weight: 600;
    font-size: 100%;
    border-radius: 15px !important;
} 
 .ngx-pagination a, .ngx-pagination button {
    color: black!important;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 5px !important;
    font-weight: bold !important;
    font-size: 100%;
} 
