.bg {
  /* background-image: url(../../assets/Images/agri.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  min-height: 100vh;
  width: 100%; */
  background-color: whitesmoke;
  height: -webkit-fill-available;
}

.tamil_word {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
}
.english_wrd {
  font-family: 'Mukta', sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} /*Profile Card 5*/
.profile-card-5 {
  margin-top: 20px;
}
.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}
.profile-card-5 .card-img-block {
  /* width: 91%; */
  margin: 0 auto;
  position: relative;
  top: -20px;
}
.profile-card-5 .card-img-block img {
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.63); */
}
.profile-card-5 h5 {
  color: #4e5e30;
  font-weight: 600;
}
.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}
.profile-card-5 .btn-primary {
  background-color: #4e5e30;
  border-color: #4e5e30;
}

.cardClr {
  border-top: 2px solid #0d4608;
}

.btnBorder {
  margin: auto;
  font-weight: bold;
  color: #0d4608;
  border: 2px solid #0d4608;
  background-color: white;
  font-size: small;
}

.btnBorder:hover {
  background-color: #0d4608;
  color: white;
}
