
 <body class="bg" style="overflow: hidden;">
<div class="container-fluid">
  <h1 class="wellcome" style="text-align: center;margin-top: 100px;">Welcome to Farmer's Market!</h1>
  <h5 class="every clr tamil_word " style="text-align: center">உணவூட்டும் விவசாயத்திற்கு உயிரூட்டுவோம்!</h5>
  <!-- <h2 class="we clr" style="text-align: center">We have our Market, we can sell a product and also you can buy </h2> -->
</div>
<br>
<div class="container">
<div class="row">
  <div class="col-md-6" style="margin-bottom: 10px;">
    <div class="well" >
        <h3 class="clr english_wrd" >Buy Products</h3>
    </div>
  
    <div class="card">
      <div class="card-body">
        <img style="width: 100%;" src="../../assets/Images/Capture2.PNG"> 
        </div>
       
    </div>
    <button class="btn-block" routerLink="/dealCategory" style="margin-top: 1px;">
      <p  class="click_btns">Click to proceed</p>
    </button>
  </div>
  <div class="col-md-6">
    <div class="well">
         <h3 class="clr english_wrd" >Sell Products</h3>
        </div>
    <div class="card">
      <div class="card-body">
            <img style="width: 100%;" src="../../assets/Images/Capture111.PNG">
          </div>
          
      </div>
      <button class="btn-block" routerLink="/post" style="margin-top: 1px; ">
        <p  class="click_btns" >Get started</p>
       </button>

  </div>
</div>

</div>
</body> 