<body class="bg" style="overflow: hidden;">
  <div class="container-fluid">
    <h1 class="wellcome" style="text-align: center;margin-top: 100px;">
      Welcome to Farmer's Market!
    </h1>
    <!-- <h5 class="every clr tamil_word " style="text-align: center">உணவூட்டும் விவசாயத்திற்கு உயிரூட்டுவோம்!</h5> -->
    <!-- <h2 class="we clr" style="text-align: center">We have our Market, we can sell a product and also you can buy </h2> -->
  </div>
  <br />
  <!-- <div class="container">
<div class="row">
  <div class="col-md-6" style="margin-bottom: 10px;">
    <div class="well" >
        <h3 class="clr english_wrd" >Buy Products</h3>
    </div>
  
    <div class="card">
      <div class="card-body">
        <img style="width: 100%;" src="./assets/Images/Capture2.PNG"> 
        </div>
       
    </div>
    <button class="btn-block" routerLink="/dealCategory" style="margin-top: 1px;">
      <p  class="click_btns">Click to proceed</p>
    </button>
  </div>
  <div class="col-md-6">
    <div class="well">
         <h3 class="clr english_wrd" >Sell Products</h3>
        </div>
    <div class="card">
      <div class="card-body">
            <img style="width: 100%;" src="./assets/Images/Capture111.PNG">
          </div>
          
      </div>
      <button class="btn-block" routerLink="/post" style="margin-top: 1px; ">
        <p  class="click_btns" >Get started</p>
       </button>

  </div>
</div>

</div> -->
  <div style="margin-left: 30px;margin-right: 30px">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-4">
          <div class="card profile-card-5">
            <div
              class="card-img-block bg-white"
              style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);border-radius: 5px;"
            >
              <div class="text-center p-3">
                <img
                  class="card-img-top"
                  style="height: 150px;width: 150px;"
                  src="../../assets/Images/3.jpeg"
                  alt="Card image cap"
                />
              </div>
            </div>
            <div class="card-body pt-0">
              <h5 class="card-title pl-3">Florence Garza</h5>
              <p class="card-text pl-3">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.<br />
              </p>
              <div class="text-center mb-4">
                <button class="btn btn-primary">Go somewhere</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card profile-card-5">
            <div
              class="card-img-block bg-white"
              style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);border-radius: 5px;"
            >
              <!-- style="border-radius: 100%;height: 150px;width: 150px;" -->
              <div class="text-center p-3">
                <img
                  class="card-img-top"
                  style="height: 150px;width: 150px;"
                  src="../../assets/Images/2.jpeg"
                  alt="Card image cap"
                />
              </div>
            </div>
            <div class="card-body pt-0">
              <h5 class="card-title pl-3">Florence Garza</h5>
              <p class="card-text pl-3">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.<br />
              </p>
              <div class="text-center mb-4">
                <button class="btn btn-primary">Go somewhere</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="card cardBorder flex-md-row mb-4 shadow-sm h-md-250">
            <div
              class="card-body d-flex flex-column align-items-start p-3"
              style="margin: 10px"
            >
              <strong class="d-inline-block mb-2 text-success">Health</strong>
              <h6 class="mb-0">
                <a class="text-dark" href="#"
                  >Food for Thought: Diet and Brain Health</a
                >
              </h6>
              <div class="mb-1 text-muted small">Nov 11</div>
              <p class="card-text mb-auto">
                This is a wider card with supporting text below as a natural
                lead-in to additional content.
              </p>
              <a
                class="btn btn-outline-success btn-sm"
                href="http://www.jquery2dotnet.com/"
                >Continue reading</a
              >
            </div>
            <img
              class="card-img-right flex-auto d-none d-lg-block"
              alt="Thumbnail [200x250]"
              src="../../assets/Images/agri.jpg"
              style="width: 200px; height: 250px;"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="card cardBorder flex-md-row mb-4 shadow-sm h-md-250">
            <div
              class="card-body d-flex flex-column align-items-start p-3"
              style="margin: 10px"
            >
              <strong class="d-inline-block mb-2 text-success">Health</strong>
              <h6 class="mb-0">
                <a class="text-dark" href="#"
                  >Food for Thought: Diet and Brain Health</a
                >
              </h6>
              <div class="mb-1 text-muted small">Nov 11</div>
              <p class="card-text mb-auto">
                This is a wider card with supporting text below as a natural
                lead-in to additional content.
              </p>
              <a
                class="btn btn-outline-success btn-sm"
                href="http://www.jquery2dotnet.com/"
                >Continue reading</a
              >
            </div>
            <img
              class="card-img-right flex-auto d-none d-lg-block"
              alt="Thumbnail [200x250]"
              src="../../assets/Images/agri.jpg"
              style="width: 200px; height: 250px;"
            />
          </div>
        </div>
      </div> -->
      <!-- <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card cardBorder flex-md-row mb-4 shadow-sm h-md-250">
            <div
              class="card-body d-flex flex-column align-items-start"
              style="margin: 10px"
            >
              <strong class="d-inline-block mb-2 text-success">Health</strong>
              <h6 class="mb-0">
                <a class="text-dark" href="#"
                  >Food for Thought: Diet and Brain Health</a
                >
              </h6>
              <div class="mb-1 text-muted small">Nov 11</div>
              <p class="card-text mb-auto">
                This is a wider card with supporting text below as a natural
                lead-in to additional content.
              </p>
              <a
                class="btn btn-outline-success btn-sm"
                href="http://www.jquery2dotnet.com/"
                >Continue reading</a
              >
            </div>
            <img
              class="card-img-right flex-auto d-none d-lg-block"
              alt="Thumbnail [200x250]"
              src="//placeimg.com/250/250/nature"
              style="width: 200px; height: 250px;"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="card cardBorder flex-md-row mb-4 shadow-sm h-md-250">
            <div
              class="card-body d-flex flex-column align-items-start"
              style="margin: 10px"
            >
              <strong class="d-inline-block mb-2 text-success">Health</strong>
              <h6 class="mb-0">
                <a class="text-dark" href="#"
                  >Food for Thought: Diet and Brain Health</a
                >
              </h6>
              <div class="mb-1 text-muted small">Nov 11</div>
              <p class="card-text mb-auto">
                This is a wider card with supporting text below as a natural
                lead-in to additional content.
              </p>
              <a
                class="btn btn-outline-success btn-sm"
                href="http://www.jquery2dotnet.com/"
                >Continue reading</a
              >
            </div>
            <img
              class="card-img-right flex-auto d-none d-lg-block"
              alt="Thumbnail [200x250]"
              src="//placeimg.com/250/250/nature"
              style="width: 200px; height: 250px;"
            />
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>
</body>
