<!-- <div class="bg">
    <div class="text-center mb-5 container">
        <div class="row mt-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-7">
              <h1 class="mt-5 pt-2 wellcome"> <span class="to">Welcome to </span><span class="farmer"> F</span>armer's <span class="farmer">M</span>arket!</h1></div>
            <div class="col-lg-2"></div>
          </div>
          <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-9">
                <h5 class="every clr">Every great business is built on friendship.</h5></div>
              <div class="col-lg-1"></div>
            </div>
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-11">
              
                  <h2 class="we clr">We have our Market, we can sell a product and also you can buy </h2>
                </div>
               </div>
  
  
               <table class="mt-5">
                 <tr>
                   
                   <td class="clr" >
                      <h3>If you want to buy a product</h3>
                    </td>
                  <td></td>
                    <td class="clr">
                        <h3>If you want to sell a product to post here</h3>
                   </td>
                 
                 </tr>
                 <tr class="">
                  
                    <td style="width: 50%;">
                         <div class="card">
                            <div class="card-body">
                                <img style="width: 100%;" src="../../assets/Images/Capture2.PNG">
                              </div>
                               <button class="card-header" routerLink="/deals">
                                  <p style="margin-top: 5px; font-weight: bold;cursor: pointer;"> Click Here To View Products</p>
                                </button>
                          </div>
                        </td>
                        <td></td>
                    <td class="" style="width: 50%;" >
                        <div class="card">
                          <div class="card-body">
                                <img style="width: 100%;" src="../../assets/Images/Capture111.PNG">
                              </div>
                              <button class="card-header" routerLink="/post">
                                  <p style="margin-top: 5px; font-weight: bold;cursor: pointer;"> Click Here To Post product</p>
                                 </button>
                          </div>
                   
                  </td>
                
  
                 </tr> 
               </table>
               
                  <div class="row">
                      <div class="col-lg-1"></div>
                      <div class="col-lg-11">
                      
                          <h2 class="we" style="color: #fff">People expect good service but few are willing to give it.</h2>
                        </div>
                       </div>
      </div>
      </div> -->

 <body class="bg" style="overflow: hidden;">
<div class="container-fluid">
  <h1 class="wellcome" style="text-align: center;margin-top: 100px;"> <span class="to">Welcome to </span><span class="farmer"> F</span>armer's <span class="farmer">M</span>arket!</h1>
  <h5 class="every clr " style="text-align: center">உணவூட்டும் விவசாயத்திற்கு உயிரூட்டுவோம் !</h5>
  <!-- <h2 class="we clr" style="text-align: center">We have our Market, we can sell a product and also you can buy </h2> -->
</div>
<br>
<div class="container">
<div class="row">
  <div class="col-md-6" style="margin-bottom: 10px;">
    <div class="well" >
        <h3 class="clr" >Buy Products</h3>
    </div>
  
    <div class="card">
      <div class="card-body">
          <img style="width: 100%;" src="../../assets/Images/Capture2.PNG">
        </div>
       
    </div>
    <button class="btn-block" routerLink="/deals" style="margin-top: 1px;">
      <p  class="click_btns">Click to proceed</p>
    </button>
  </div>
  <div class="col-md-6">
    <div class="well">
         <h3 class="clr" >Sell Products</h3>
        </div>
    <div class="card">
      <div class="card-body">
            <img style="width: 100%;" src="../../assets/Images/Capture111.PNG">
          </div>
          
      </div>
      <button class="btn-block" routerLink="/post" style="margin-top: 1px; ">
        <p  class="click_btns" >Get started</p>
       </button>

  </div>
</div>
</div>
</body> 