<div id='focusDiv' tabindex="1"></div>
<div class="container-fluid bg1">
  <div class="container  pt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 card">
          <p class="updateProfile">My Profile</p>
          <div *ngIf = "success" class="alert alert-success error_word" style="text-align: center;">
              {{success}}
          </div>
          <form  #editForm="ngForm" *ngIf ="!submitted" novalidate>
            <div class="row" *ngIf="crntUser.firstname">
                <div class="col-md-12">
                    <div class="form-group  mt-2">
                        <label class=" english_wrd" for="firstname"><span style="font-size: 14px" class="tamil_word">பெயர் </span>/ Name</label>
                        <input type="text" placeholder="Enter your name" #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched" ngModel (keypress)="handleInput($event)" name="firstname" class="form-control" [(ngModel)]="crntUser.firstname" autocomplete="off" required>
                        <span class="text-danger float-left error_word errFont" [class.d-none] = "firstname.valid || firstname.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Name is required</span>
                      </div>
                 </div></div>

                 <div class="row" *ngIf="!crntUser.firstname">
                  <div class="col-md-12">
                      <div class="form-group  mt-2">
                          <label class=" english_wrd" for="firstname"><span style="font-size: 14px" class="tamil_word">பெயர் </span>/ Name</label>
                          <input type="text" placeholder="Enter your name" name="firstname" class="form-control" autocomplete="off" required>
                        </div>
                   </div></div>

                   <div class="row" *ngIf="!crntUser.firstname">
                    <div class="col-md-12">
                       <div class="form-group mt-2" >
                            <label class="english_wrd" for="address"> <span style="font-size: 14px" class="tamil_word">முகவரி </span>/ Address</label>
                           <input type="text" placeholder="Enter your address" name="addressLine" class="form-control" autocomplete="off" required>
                         </div>
                    </div></div>

                    <div class="row" *ngIf="!crntUser.firstname">
                      <div class="col-md-12">
                         <div class="form-group mb-5 mt-2" >
                              <label class="english_wrd" for="address"> <span style="font-size: 14px" class="tamil_word">மாவட்டம் </span>/ City</label>
                             <input type="text" placeholder="Enter your address" name="addressLine" class="form-control" autocomplete="off" required>
                           </div>
                      </div></div>

                   <div class="row" *ngIf="crntUser.address.addressLine">
                 <div class="col-md-12">
                    <div class="form-group mb-5 mt-2" >
                          <label class="english_wrd" for="address"> <span style="font-size: 14px" class="tamil_word">முகவரி </span>/ Address</label>
                        <input type="text" placeholder="Enter your address" #addressLine="ngModel" [class.is-invalid]="addressLine.invalid && addressLine.touched" ngModel name="addressLine" class="form-control" [(ngModel)]="crntUser.address.addressLine" autocomplete="off" required>
                        <span class="text-danger float-left error_word errFont" [class.d-none] = "addressLine.valid || addressLine.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Address is required</span>
                      </div>
                 </div> </div>

                  <div class="row">
                 <div class="col-md-12 well" >
                    <div class="form-group mb-5 mt-2" *ngIf="crntUser.address.city == ''" >
                      <label class="dummyLable">மாவட்டம் / City</label>
                        <input google-place type="text" placeholder="Enter your city" class="form-control addressplhldr"  #city="ngModel" (onSelect)="setAddress($event)" name="city"  ngModel [(ngModel)]="crntUser.address.city"  required>
                        <span class="text-danger float-left error_word" [class.d-none] = "city.valid || city.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> City is required</span>
                </div>
                <div class="form-group mb-5 mt-2" *ngIf="crntUser.address.city != ''">
                  <label class="dummyLable">     மாவட்டம் / City</label>
                    <input  google-place type="text" placeholder="Update your address"   class="form-control addressplhldr"  #city="ngModel" (onSelect)="setAddress($event)" name="city" [class.is-invalid]="city.invalid && city.touched" ngModel [(ngModel)]="crntUser.address.city.formatted_address"  autocomplete ="off" required>
                    <span class="text-danger float-left error_word" [class.d-none] = "city.valid || city.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> City is required</span>
                </div>
                  <p style="float:left;margin-top: -25px;cursor:pointer;text-decoration:underline;" (click)="changePwd()">Change my password?</p>
                 </div></div>
                   <div class="row">
                 <div class="col-md-12 text-center">
                    <button class="btn btn-outline-success viewMoreBtn button_word" type="submit" [disabled]="editForm.form.invalid" (click)="updateUser()">Update Profile</button>&nbsp;
                    <button type="submit" class="btn btn-outline-success text-center viewMoreBtn button_word" (click)="onSubmit()">Reset</button>
                 </div>
            </div>
            <br>
          </form>
        </div>
        <div class="col-md-3"></div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-success" [hidden]="true" style="display:none;" data-toggle="modal" data-target="#myModal1" name="button" id="openChangePwdModal"></button>
<!-- modal dialogues -->
<div class="modal fade centered-modal" data-backdrop="static" data-keyboard="false"  tabindex="-1" role="dialog" id="myModal1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="headingEng">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" id="closePwdModal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div *ngIf = "notOldpwderr" class="alert alert-danger error_word" style="text-align: center;">
            {{notOldpwderr}}
        </div>
        <div *ngIf = "success" class="alert alert-success error_word" style="text-align: center;">
            {{success}}
        </div>
        <form  #forgotpwdform="ngForm" *ngIf ="!submitted" novalidate id ="firstDiv">
              <div class="form-group ">
                  <label class="english_wrd" for="phone1"><span style="font-size: 14px" class="tamil_word">முந்தைய கடவுச்சொல் </span>/ Old Password</label>
                      <input type="text"  #oldotp="ngModel" [class.is-invalid]="oldotp.invalid && oldotp.touched" ngModel name="oldotp" class="form-control" [(ngModel)]="crntUser.oldotp" autocomplete="off"  required>
    <span class="text-danger float-left error_word errFont" [class.d-none] = "oldotp.valid || oldotp.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> Old password is required</span>
              </div>
              <div style="text-align: center;" >
              <button class="btn2" type="submit"   [disabled]="forgotpwdform.form.invalid" (click)="verifyPwd()">Submit</button>
            </div>
            </form>
            <!-- password provision -->
            <form  #pwdform="ngForm" *ngIf ="!submitted" novalidate style="display:none;" id="secondDiv">
                  <div class="form-group ">
                      <label class="english_wrd" for="phone1"><span style="font-size: 14px" class="tamil_word">புதிய கடவுச்சொல் </span>/ New Password</label>
                          <input type="text"  #password="ngModel" [class.is-invalid]="password.invalid && password.touched" ngModel name="password" class="form-control" [(ngModel)]="crntUser.password" autocomplete="off"  required>
                          <span class="text-danger float-left error_word errFont" [class.d-none] = "password.valid || password.untouched"><i class="fa fa-info-circle" aria-hidden="true"></i> New password is required</span>
                  </div>
                  <div style="text-align: center;" >
                  <button class="btn2" [disabled]="pwdform.form.invalid" type="submit" (click)="updateUser()">Submit</button>
                </div>
                </form>
      </div>
    </div>
  </div>
</div>
