
 <div class="bg1">
    <div class="text-center mb-5 container mt-5 pt-5">
        <form  *ngIf ="!submitted" (ngSubmit)="login()" novalidate>
        <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-4">
                 
                      <div class="form-group mb-5 mt-5">
                          <input type="text"  #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched" ngModel name="firstname" class="form-control"  autocomplete="off" required>
                          <label class="form-control-placeholder" for="firstname">First Name</label>
                          <span class="text-danger float-left" [class.d-none] = "firstname.valid || firstname.untouched">First Name is required</span>  
                        </div>
                      
              </div> 
              <div class="col-md-2"></div>
              <div class="col-md-4">    
                      <div class="form-group mb-5 mt-5">
                        <input type="text"  #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" ngModel name="lastName" class="form-control"  autocomplete="off"  required>
                        <label class="form-control-placeholder" for="lastName">Last Name</label>
                        <span class="text-danger float-left" [class.d-none] = "lastName.valid || lastName.untouched">Last Name is required</span>  
                      </div>
                </div>       
              <div class="col-md-1"></div>
              </div>

              <!-- 2ndrow -->
              <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-4">
                 
                  <div class="form-group mb-5 mt-5">
                      <input type="text"  #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched" ngModel name="name" class="form-control"  autocomplete="off" required>
                      <label class="form-control-placeholder" for="firstname">First Name</label>
                      <span class="text-danger float-left" [class.d-none] = "firstname.valid || firstname.untouched">First Name is required</span>  
                    </div>
                      
              </div> 
              <div class="col-md-2"></div>
              <div class="col-md-4">    
                  <div class="form-group mb-5 mt-5">
                      <input type="text"  #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched" ngModel name="name" class="form-control"  autocomplete="off" required>
                      <label class="form-control-placeholder" for="firstname">First Name</label>
                      <span class="text-danger float-left" [class.d-none] = "firstname.valid || firstname.untouched">First Name is required</span>  
                    </div>
                </div>       
               
          
              
              <div class="col-md-1"></div>
              </div>

              <!-- 3rd row -->

              <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-4">
                     
                      <div class="form-group mb-5 mt-5">
                          <input type="text"  #address="ngModel" [class.is-invalid]="address.invalid && address.touched" ngModel name="address" class="form-control"  autocomplete="off" required>
                          <label class="form-control-placeholder" for="address">Address</label>
                          <span class="text-danger float-left" [class.d-none] = "address.valid || address.untouched">Address is required</span>  
                        </div>
                  </div> 
                  <div class="col-md-2"></div>
                  <div class="col-md-4">    
                      <div class="form-group mb-5 mt-5">
                          <input type="text"  #address1="ngModel" [class.is-invalid]="address1.invalid && address1.touched" ngModel name="address1" class="form-control"  autocomplete="off" required>
                          <label class="form-control-placeholder" for="address1">Address</label>
                          <span class="text-danger float-left" [class.d-none] = "address1.valid || address1.untouched">Address is required</span>  
                        </div>
                    </div>      
                  <div class="col-md-1"></div>
                  </div>

                  <!-- 4th row -->

                  <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-4">
                          <div class="form-group mb-5 mt-2">
                              <input type="password"  #password="ngModel" [class.is-invalid]="password.invalid && password.touched" ngModel name="password" class="form-control"  autocomplete="off"  required>
                              <label class="form-control-placeholder" for="password">Password</label>
                              <span class="text-danger float-left" [class.d-none] = "password.valid || password.untouched">Password is required</span>  
                            </div>
                      </div> 
                      <div class="col-md-2"></div>
                      <div class="col-md-4">    
                              <div class="form-group mb-5 mt-2">
                                <input type="password"  #password1="ngModel" [class.is-invalid]="password1.invalid && password1.touched" ngModel name="password1" class="form-control"  autocomplete="off"  required>
                                <label class="form-control-placeholder" for="password1">Password</label>
                                <span class="text-danger float-left" [class.d-none] = "password1.valid || password1.untouched">Password is required</span>  
                              </div>
                        </div>       
                      <div class="col-md-1"></div>
                      </div>

                      <!-- 5th row -->

                      <div class="row">
                          <div class="col-md-1"></div>
                          <div class="col-md-4">
                              <div class="form-group mb-5 mt-2">
                                  <input type="tel"  #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" ngModel name="phone" class="form-control"  autocomplete="off" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" required>
                                  <label class="form-control-placeholder" for="phone">Phone Number</label>
                                  <span class="text-danger float-left" [class.d-none] = "phone.valid || phone.untouched">Phone Number is required</span>  
                                </div>
                                  
                          </div> 
                          <div class="col-md-2"></div>
                          <div class="col-md-4">    
                            </div>       
                          <div class="col-md-1"></div>
                          </div>
            </form>
              </div>
  </div>
